
@{
    ViewBag.Title = "ManageProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomCSS { 
    <!-- DataTables -->  
    @Styles.Render("~/DataTable-CSS")
    <!-- summernote -->
    @Styles.Render("~/SummerNote-CSS")

    <!-- tokenfield -->
    @Styles.Render("~/tokenfield-CSS")

    <!-- switcher -->
    @Styles.Render("~/Switchery-CSS")

    <!-- carousel -->
    @Styles.Render("~/slick-carousel-CSS")

    <!-- croper -->
    @Styles.Render("~/Image-cropper-CSS")

    <!-- dropzone -->
    @Styles.Render("~/DropZone-CSS")

    <!-- Select2-->
    @Styles.Render("~/Select2-CSS")
    <!-- Touch Spin-->
    @Styles.Render("~/TouchSpin-CSS")
}



    <!-- content here -->
    <!-- grid here -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @*<h5>Nhóm các sản phẩm</h5>*@
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>                                                                        
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">                        
                        <table class="table table-bordered table-hover product-master">
                            <thead>
                                <tr>                                    
                                    <th>Id</th>
                                    <th><input type='checkbox'></th>
                                    <th>Tên</th>
                                    <th>Phân loại</th>
                                    <th>Mô tả</th>
                                    <th>Giá</th>
                                    <th>Giá khuyến mãi</th>
                                    <th>Trạng thái</th>
                                    <th>Còn hàng</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- end grid -->        
    </div>
        <!-- modal -->
        <div class="modal inmodal" id="viewProductModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Thông tin sản phẩm</h4>                        
                    </div>
                    <div class="modal-body">
                        <div class="tabs-container">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1"> Thông tin chung</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-2">Đặc điểm</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-3"> Hình ảnh</a></li>
                            </ul>
                            <div class="tab-content">                               
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <fieldset class="form-horizontal">
                                                <input type="hidden" name="id"/>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Tên:</label>
                                                    <div class="col-sm-10"><input type="text" name="name" class="form-control" placeholder="Tên sản phẩm" /></div>
                                                </div>
                                                <div class="form-group select-container">
                                                    <label class="col-sm-2 control-label">Phân loại:</label>
                                                    <div class="col-sm-5">
                                                        <select class="form-control parentCategory-select">
                                                            <option></option>                                                            
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select name="category" class="form-control category-select">                                                                                                                      
                                                        </select>
                                                    </div> 
                                                    <div class="col-sm-10 pull-right"><a target="_blank" href="../Category/Index">Thêm phân loại sản phẩm</a></div>                                                   
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Mô tả:</label>
                                                    <div class="col-sm-10">
                                                        <textarea name="desc" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Giá:</label>
                                                    <div class="col-sm-10"><input class="price-input" name="price" placeholder="Giá" min="0" step="1000"/></div>                                                    
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Giá khuyến mãi:</label>
                                                    <div class="col-sm-10"><input class="price-input" name="promotion" placeholder="Giá khuyến mãi" min="0" step="1000" /></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Tình trạng:</label>
                                                    <div class="col-sm-10">
                                                        <input type="checkbox" name="status" class="js-switch" id="masterProStatus" checked />
                                                        <span class="label label-primary" id="masterStatusOn">Bình thường</span>
                                                        <span class="label label-danger" id="masterStatusOff" style="display:none">Ngưng bán</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Tình trạng hàng:</label>
                                                    <div class="col-sm-10">
                                                        <input type="checkbox" name="isInStock" class="js-switch" id="detailProStatus" checked />
                                                        <span class="label label-primary" id="detailStatusOn">Còn hàng</span>
                                                        <span class="label label-danger" id="detailStatusOff" style="display:none">Hết hàng</span>
                                                    </div>
                                                </div>

                                            </fieldset>
                                        </div>
                                    </div>
                                    <div id="tab-2" class="tab-pane">
                                        <div class="panel-body">
                                            <input name="templateId" type="hidden" />
                                            <div><button class="btn btn-success choose-template">Thay đổi mẫu các đặc điểm</button>
                                            <button class="btn btn-primary remove-template" >Không dùng mẫu đặc điểm nữa</button>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Đặc điểm:</label>
                                                <div class="col-sm-10 input-group">                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-3" class="tab-pane">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="product-images">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="col-md-6">
                                                        <form id="dropzone" class="dropzone" action="#">
                                                            <div class="dropzone-previews"></div>
                                                            <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end modal -->
        <!-- modal -->
        <div class="modal inmodal" id="viewDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
            @*<div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Thông tin sản phẩm</h4>
                        <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <fieldset class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tên:</label>
                                    <div class="col-sm-10"><input type="text" readonly="true" class="form-control" placeholder="Tên sản phẩm" value="Giày bata nam, màu xanh đen, size 32"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Giá:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="$160.00" value="2000000"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Tình trạng:</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" class="js-switch" id="detailProStatus" checked />
                                        <span class="label label-primary" id="detailStatusOn">Bình thường</span>
                                        <span class="label label-danger" id="detailStatusOff" style="display:none">Hết hàng</span>
                                    </div>
                                </div>

                            </fieldset>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>*@
        </div>
        <!-- end modal -->
        <!-- modal template choser-->
<div class="modal inmodal" id="templateChoser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">            
            <div class="modal-body">
                <div class="panel-body">                    
                    <fieldset class="form-horizontal">                        
                        <div class="form-group">                            
                            <select class="form-control template-select" multiple></select>
                        </div>
                    </fieldset>

                    
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Hủy</button>                
            </div>
        </div>
    </div>
</div>


    <!--end content-->
    @section CustomJS {    

    <!-- DataTables -->
    @Scripts.Render("~/DataTable-JS")    
    <!-- SUMMERNOTE -->
    @Scripts.Render("~/SummerNote-JS")

    <!-- tokenfield-->
    @Scripts.Render("~/tokenfield-JS")

    <!-- Switchery -->
    @Scripts.Render("~/Switchery-JS")

    <!-- slick carousel-->
    @Scripts.Render("~/slick-carousel-JS")

    <!-- Dropzone-->
    @Scripts.Render("~/DropZone-JS")

    <!-- Select2-->
    @Scripts.Render("~/Select2-JS")

    <!-- touchspin--> 
    @Scripts.Render("~/TouchSpin-JS")
    <script>
        var s;
        var table;
        var currentChildren;
        var languageConfig = {
            "oPaginate": {
                "sNext": "Tiếp"
                , "sLast": "Cuối"
                , "sPrevious": "Trước"
                , "sFirst": "Đầu"
            }
                        , "sInfo": "Kết quả từ _START_ đến _END_ trong số _TOTAL_"
                        , "sInfoThousands": "."
                        , "sLoadingRecords": "Đang tải ..."
                        , "sProcessing": "Đang xử lý ..."
                        , "sSearch": "Tìm kiếm:"
                        , "sZeroRecords": "Không tìm thấy kết quả"
                        , "sInfoFiltered": " - lọc ra từ _MAX_ kết quả"
        }

        function initCategory(parentId, selectVal) {
            $(".category-select").empty();
            $.ajax({
                url: '../Category/Children',
                type: 'POST',
                data: {
                    'parentId': parentId
                },
                success: function (data, textStatus, xhr) {
                    for (var i = 0; i < data.length; i++) {
                        $(".category-select").append("<option value='" + data[i].Id + "'>"
                            + data[i].Name
                            + "</option>");
                    }
                    if (selectVal != null) {
                        $(".category-select").val(selectVal);
                    }
                },
                error: function () {
                    console.log("error");
                }

            });
        }

        function initParentCategory() {
            $.ajax({
                url: '../Category/Parent',
                type: 'POST',
                data: {
                    
                },
                success: function (data, textStatus, xhr) {
                    $(".parentCategory-select").empty();
                    $(".parentCategory-select").append("<option></option>");
                    for (var i = 0; i< data.length; i++){
                        $(".parentCategory-select").append("<option value='" + data[i].Id + "'>"
                            + data[i].Name
                            +"</option>");
                    }
                    $(".parentCategory-select").on("change", function () {
                        var parentId = $(this).val();
                        initCategory(parentId);
                    })
                },
                error: function () {
                    console.log("error");
                }
            });
            
        }

        function initButtonAroundDataTable() {
            $("div.toolbar").prepend('<div class="col-sm-4 col-lg-4 option-group"><button class="btn btn-primary">Thêm</button></div>');
            $(".toolbar div.option-group").append('<div class="btn-group">'
                            + '<button data-toggle="dropdown" class="btn btn-primary btn-outline btn-sm dropdown-toggle" aria-expanded="false">Đã chọn <span class="selected-nummer">0</span> sản phẩm<span class="caret"></span></button>'
                            + '<ul class="dropdown-menu">'
                              //+'<li><a href="#"></a></li>'
                            + '<li><a href="#" >Chuyển trạng thái bình thường</a></li>'
                            + '<li><a href="#">Chuyển trạng thái ngưng bán</a></li>'
                            + '<li class="divider"></li>'
                            + '<li><a href="#">Đánh dấu còn hàng</a></li>'
                            + '<li><a href="#">Đánh dấu hết hàng</a></li>'
                            + '<li class="divider"></li>'
                            + '<li><a href="#">Xóa</a></li>'
                            + '</ul>'
                        + '</div>');
            $("div.toolbar .dataTables_filter").addClass("col-sm-8 col-lg-8");
            $("div.toolbar .dataTables_filter").append('<div data-toggle="buttons-checkbox" class="btn-group">'
                            + '<button id="sName" class="btn btn-primary btn-outline active" type="button" >Tên</button>'
                            + '<button id="sCate" class="btn btn-primary btn-outline" type="button" aria-pressed="false">Phân loại</button>'
                            + '<button id="sDesc" class="btn btn-primary btn-outline" type="button" aria-pressed="false">Mô tả</button>'
                        + '</div>');

        }

        function editForm(id) {
            $.ajax({
                url: '../Product/GetProductById',
                type: 'POST',
                data: {
                    "id": id
                },
                success: function (data, textStatus, xhr) {
                    $("#viewProductModal").find('input[name="id"]').val(data.Id);
                    $("#viewProductModal").find('input[name="name"]').val(data.Name);
                    $("#viewProductModal").find('textarea[name="desc"]').val(data.Description);
                    $("#viewProductModal").find('select.parentCategory-select').val(data.Category[0]);
                    //$("#viewProductModal").find('select[name="category"]').val(data.Category[1]);
                    initCategory(data.Category[0], data.Category[1]);
                    $("#viewProductModal").find('input[name="status"]').attr("checked", data.Status);
                    $("#viewProductModal").find('input[name="isInStock"]').attr("checked",data.IsInStock);
                    $("#viewProductModal").find('input[name="price"]').val(data.Price);
                    $("#viewProductModal").find('input[name="promotion"]').val(data.Promotion);

                    $("#viewProductModal").modal("show");
                },
                error: function () {

                }
            })
            
        }

        function initButton() {
            $(".edit-button").on("click", function () {                
                var clickedRow = $(this).closest("tr");
                var id = table.fnGetData($(clickedRow)).Id;
                console.log(id);
                editForm(id);                
            })
        }

        $(document).ready(function () {
            
            var productTable;                        

            productTable = $(".product-master").dataTable({
                "bProcessing": true
                , "bServerSide": true
                , "sAjaxSource": "../Product/GetMasterProduct"
                , "fnServerParams": function (aoData) {
                    aoData.push({ "name": "shopId", "value": "1" });
                    sName = $("#sName").hasClass("active");                    
                    if ($("#sName").length == 0) sName = true;
                    sCate = $("#sCate").hasClass("active");
                    sDesc = $("#sDesc").hasClass("active");
                    aoData.push({ "name": "sName", "value": sName });
                    aoData.push({ "name": "sCate", "value": sCate });
                    aoData.push({ "name": "sDesc", "value": sDesc });
                }
                , "fnInitComplete": function (oSettings, json) {
                    $(".product-master").removeAttr("style");
                    $(".product-master thead tr").addClass("info");
                    initButton();
                    //$(".product-master tbody tr").addClass("success");
                    //productTable.DataTable({
                        
                    //});
                }
                , "fnDrawCallback": function (oSettings, json) {
                    initButton();
                }
                , "aoColumnDefs": [
                          { "bSortable": false
                            , "aTargets": [1]
                            , "mData": "null"
                            , "sDefaultContent": "<input type='checkbox'>"
                            //, "sTitle": "<input type='checkbox'>"
                          }
                        , { "bVisible": false, "aTargets": [0], "mData": "Id" }
                        , { "aTargets": [2], "mData": "Name" }
                        , { "aTargets": [3], "mData": function (source) { return source.Category[1]; } }
                        , { "aTargets": [4], "mData": "Description" }
                        , {
                            "bSortable": false
                            , "aTargets": [-1]
                            , "sDefaultContent": '<div class="btn-group"><button class="btn btn-success edit-button" type="button" title="Chi tiết"><i class="fa fa-edit"></i></button><button class="btn btn-danger delete-button" type="button" title="Xóa"><i class="fa fa-trash"></i></button></div>'
                            , "mData": "null"
                        }
                        , {
                            "mData": function (source) {                                
                                var status = source.Status;
                                if (status == true) {
                                    return '<span class="label label-primary">Bình thường</span>';
                                } else {
                                    return '<span class="label label-danger">Ngưng bán</span>';
                                }
                            }
                            , "aTargets": [7]
                        }
                        , {
                            "mData": function (source) {
                                //console.log(source);
                                var status = source.IsInStock;
                                if (status == true) {
                                    return '<span class="label label-primary">Còn hàng</span>';
                                } else {
                                    return '<span class="label label-danger">Hết hàng</span>';
                                }
                            }
                               , "aTargets": [8]
                        }
                        , {
                            "mData": "Price"
                            , "aTargets": [5]
                        }
                        , {
                            "mData": "Promotion"
                           , "aTargets": [6]
                        }
                ]
                , "oLanguage": languageConfig
                , "iDisplayLength": 10
                //, "aLengthMenu": [5, 10, 25]
                , "bLengthChange": false
                , 'sDom': 'l<"toolbar"f>rtip'//'<"H"lf"toolbar"r>t<"F"ip>'//'<"toolbar">lTfgitp' //frtip'//'<"html5buttons"B>lTfgitp'                
            
            });            
            initButtonAroundDataTable();
            table = productTable;

            initParentCategory();

            /* setting show detailed product*/            
            //$('.product-master').on('click', '.view-detail', function (evt) {
            //    var id = productTable.DataTable().row($(this)).data()[4];
            //    var clickedRow = $(this).closest("tr");
            //    var id = productTable.fnGetData($(clickedRow)).Id;
            //    console.log(id);
            //    $('.product-detail').hide();
            //    $(id).show();
            //    $(currentChildren).remove();
            //    $('.product-info').remove();
            //    if (productTable.fnIsOpen(clickedRow)) {
            //        productTable.fnClose(clickedRow);
            //    } else {
            //        productTable.fnOpen(clickedRow, '<div class="table-responsive"><table class="table table-bordered table-hover product-detail"><thead><tr><th></th><th></th><th>Đặc điểm</th><th>Giá riêng</th><th>Giá khuyến mãi</th><th>Tình trạng</th><th>#</th></tr></thead></table></div>'
            //                        , "product-info");
            //        currentChildren = $(".product-detail").dataTable({
            //            "bProcessing": true
            //        , "bServerSide": true
            //        , "sAjaxSource": "http://localhost:26638/Product/GetDetailedProduct"
            //        , "fnServerParams": function (aoData) {                        
            //            aoData.push({ "name": "masterId", "value": id });                        
            //        }
            //        , "aoColumnDefs": [                        
            //                  { "bVisible": false, "aTargets": [0], "mData": "Id" }
            //                , {
            //                    "bSortable": false
            //                    , "aTargets": [1]
            //                    , "mData": "null"
            //                    , "sDefaultContent": "<input type='checkbox'>"                                
            //                  }
            //                , {
            //                    "aTargets": [2]
            //                    , "mData": "Properties"
            //                }
            //                , { "aTargets": [3], "mData": "Price"                                
            //                }
            //                , {
            //                    "aTargets": [4], "mData": "PromotionPrice"                                
            //                  }
            //                , {
            //                    "mData": function (source) {
            //                        console.log(source);
            //                        var status = source.Status;
            //                        if (status == true) {
            //                            return '<span class="label label-primary">Còn hàng</span>';
            //                        } else {
            //                            return '<span class="label label-danger">Hết hàng</span>';
            //                        }
            //                    }
            //                    , "aTargets": [5]                                
            //                }
            //                , {
            //                    "bSortable": false
            //                    , "aTargets": [-1]
            //                    , "sDefaultContent": '<div class="btn-group"><button class="btn btn-success" type="button" title="Chi tiết" data-toggle="modal" data-target="#viewDetailModal"><i class="fa fa-edit"></i></button><button class="btn btn-danger" type="button" title="Xóa"><i class="fa fa-trash"></i></button></div>'
            //                    , "mData": "null"
            //                }                            
            //        ]
            //        , "oLanguage": languageConfig
            //        , "iDisplayLength": 5                                    
            //        , "bLengthChange": false

            //        });
                    

                    
            //    }
            //});


            /* touchspin*/
            $(".price-input").TouchSpin({
                min: 0,
                max: 100000000000,
                step: 1000,                
                boostat: 100000,
                postfix: 'đồng',
                verticalbuttons: true,
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
            
            /* set description input */
            $(".summernote").summernote({
                //toolbar:["style",["bold", "italic", "underline", "clear"]]
            });


            /*tokenfield*/
            //$('#tokenfield').tokenfield();

            /* switcher*/
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            elems.forEach(function(html) {
              var switchery = new Switchery(html);
            });

            $("#masterProStatus").on("change", function(){
                if ($("#masterProStatus").is(":checked")){
                    $("#masterStatusOn").show();
                    $("#masterStatusOff").hide();
                } else {
                    $("#masterStatusOn").hide();
                    $("#masterStatusOff").show();
                }
            });

            //$("#viewProductModal").on("opened", function () {
            //    /* image carousel*/
            //    $('.product-images').slick({
            //        dots: true
            //    });                
            //});

            $("#detailProStatus").on("change", function(){
                if ($("#detailProStatus").is(":checked")){
                    $("#detailStatusOn").show();
                    $("#detailStatusOff").hide();
                } else {
                    $("#detailStatusOn").hide();
                    $("#detailStatusOff").show();
                }
            });

            /////* image carousel*/
            //$('.product-images').slick({
            //    dots: true
            //});

            /* select2*/
            //$(".category-select").select2({
            //    placeholder: "Chọn 1 loại sản phẩm",
            //    allowClear: true,
            //    dropdownParent: $(".select-container")
            //});

            /* dropzone*/
            Dropzone.options.dropzone = {

                autoProcessQueue: false,
                uploadMultiple: true,
                parallelUploads: 100,
                maxFiles: 10,

                // Dropzone settings
                init: function () {
                    var myDropzone = this;

                    this.element.querySelector("button[type=submit]").addEventListener("click", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        myDropzone.processQueue();
                    });
                    this.on("sendingmultiple", function () {
                    });
                    this.on("successmultiple", function (files, response) {
                    });
                    this.on("errormultiple", function (files, response) {
                    });
                }

            }

        });

    </script>
        }