@using ShopManager.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";

}

<title>Đăng nhập</title>

@Styles.Render("~/Header-CSS")
@Styles.Render("~/Animate-and-style-CSS")

@*<h2>@ViewBag.Title.</h2>*@
@*<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            @*}
        </section>
    </div>*@
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            <div>
                <h2>Login</h2>
                @Html.ActionLink("Login with Facebook.", "Facebook", "Account")
            </div>
        </section>
    </div>*@
@*</div>*@

<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h2 style="margin-top:100px">Đăng nhập</h2>
            <p>&nbsp;</p>
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })             
            </section>
            <p>&nbsp;</p>
            <section>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
                <p> Hoặc đăng nhập bằng tài khoản đã đăng kí</p>
                @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form class="m-t" role="form" action="">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        @*<input type="text" class="form-control" placeholder="Username" required="">*@
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @*<input type="password" class="form-control" placeholder="Password" required="">*@
                    </div>
                    <button type="submit" class="btn btn-primary block full-width m-b">Đăng nhập</button> 
                    @*<a href="#"><small>Quên mật khẩu?</small></a>*@
                    <p class="text-muted text-center"><small>Bạn chưa có tài khoản?</small></p> 
                    @Html.ActionLink("Tạo tài khoản mới", "Register")
                    @*<a class="btn btn-sm btn-white btn-block" href="register.html">Tạo tài khoản mới</a>*@
                </form>
}
            </section>
        </div>
    </div>
        
    
</body>


@Scripts.Render("~/Mainly-scripts")
    <script>
            
    </script>
