@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Header-CSS")    
</head>
<body class="md-skin fixed-nav fixed-nav-basic fixed-sidebar">
    <div id="wrapper">
        <!--Left navbar-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <!--User information-->
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/Content/img/profile.jpg" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@User.Identity.GetUserName()</strong>
                                    </span> <span class="text-muted text-xs block">Quản trị viên <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Tài khoản của bạn</a></li>
                                <li><a href="#">Liên hệ</a></li>
                                <li><a href="#">Điều khoản</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Thoát</a></li>
                            </ul>
                        </div>
                        <div class="logo-element"> EFP </div>
                    </li>
                    <!--./User information-->
                    <!--Dashboard-->
                    
                </ul>
            </div>
        </nav>
        <!--./Left navbar-->
        <!--Page wrapper-->
        <div id="page-wrapper" class="gray-bg">
            <!--Top navbar-->
            <div class="row border-bottom">
                <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                            <div class="form-group">
                                <input type="text" placeholder="Tìm kiếm" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <!--<li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                        </li>-->
                        <!--Notification icon-->
                        <li class="dropdown">
                            <!--Number of notification-->
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#"> <i class="fa fa-bell"></i> <span class="label label-danger">8</span> </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="mailbox.html">
                                        <div> <i class="fa fa-envelope fa-fw"></i> Bạn có 1 comment mới <span class="pull-right text-muted small">4 minutes ago</span> </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="profile.html">
                                        <div> <i class="fa fa-twitter fa-fw"></i> Bạn có 2 tin nhắn mới <span class="pull-right text-muted small">12 minutes ago</span> </div>
                                    </a>
                                </li>
                                <!--See all alert-->
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="notifications.html"> <strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--./Notification icon-->
                        <!--Log out-->
                        <li>

                            <a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-sign-out"></i> Đăng xuất </a>

                        </li>
                        <!--./Log out-->
                    </ul>
                </nav>
            </div>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
            <!--./Top navbar-->
            <!--Content header-->
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-sm-4">
                    <h2>@ViewBag.Title</h2>
                    <ol class="breadcrumb">
                        <li> <a href="index.html">Trang chủ</a> </li>
                        <li class="active"> <strong>@ViewBag.Title</strong> </li>
                    </ol>
                </div>
                <div class="col-sm-8">
                    @*<div class="title-action"> <a href="" class="btn btn-primary">Nút gì đó</a> </div>*@
                </div>
            </div>
            <!--./Content header-->
            <!--Page's content-->
            <div class="wrapper wrapper-content">
                <div class="ibox-content">
                    <span id="text-alert"></span>
                    <button id="addShop" class="btn btn-primary">Thêm cửa hàng</button>
                </div>
            <!--./Page's content-->
            <!--Footer-->
            <div class="footer">
                <div> <strong>Copyright</strong> EFP &copy; 2016 </div>
            </div>
            <!--./footer-->
        </div>
        <!--./Page wapper-->
    </div>

        <!-- Choose Page Modal -->
        <div id="choosePageModal" class="modal fade" data-backdrop="static" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Chọn trang bạn muốn sử dụng dịch vụ</h4>
                    </div>
                    <div class="modal-body">                        
                    </div>
                </div>
            </div>
        </div>



    @Scripts.Render("~/Mainly-scripts")
    @Scripts.Render("~/Custom-and-plugin-javascript")
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '161282120980764',
                    xfbml: true,
                    version: 'v2.7'
                });                
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function ChoosePage() {
                FB.login(function (response) {
                    if (response.authResponse) {
                        //var access_token = FB.getAuthResponse()['accessToken'];
                        //console.log('Access Token = ' + access_token);
                        //FB.api('/me', function (response) {
                        //    console.log('Good to see you, ' + response.name + '.');
                        //});

                        //var pageId;

                        var account;
                        FB.api('/me/accounts', 'get', { message: 'Hello, page!' }, function (respond) {
                            console.log(respond);
                            console.log(respond.data[0].id);
                            console.log(respond.data[0].accessToken);
                            var data = respond.data;
                            //pageId = respond.data[0].id;
                            for (var i = 0; i < data.length; i++) {
                                addShopModal(data[i]);
                            }
                        });
                        
                        var pageToken = respond.data[0].access_token;
                    } else {
                        console.log('User cancelled login or did not fully authorize.');
                    }
                }, { scope: 'manage_pages,publish_pages,read_page_mailboxes,pages_manage_cta,pages_manage_instant_articles,user_posts,publish_actions' });
            }

            var pageAccessToken = '';

            function addShopModal(data) {
                $(".modal-body").empty();
                var div = $(".modal-body").append('<div>'+
                            '<input type="hidden" name="id" />' +
                            '<input type="hidden" name="token" />' +
                            '<b></b>'+                            
                            '<span class="pull-right"><button class="btn btn-primary choose-page"></button></span>' +
                        '</div>');
                $(div).find("input[name='token']").val(data.access_token);
                $(div).find("input[name='id']").val(data.id);
                $(div).find("b").text(data.name);

                $(div).find("button").text("Chọn");
                $(div).find("button").on("click", function () {
                    $.ajax({
                        url: '../Home/AddShop',
                        type: "POST",
                        data: {
                            "id": data.id,
                            "token": data.access_token
                        },
                        success: function (data, textStatus, xhr) {
                            console.log(data);
                        }
                    });
                });

                //var shopList = [];
                //if (shopList.contains(data.id)) {
                //    console.log("true");
                //    $(div).find("span").empty();
                //    $(div).find("span").text("Trang này đã có");
                //} else {
                //    $(div).find("button").text("Chọn");
                //    $(div).find("button").on("click", function () {

                //    });
                //}
                $("#choosePageModal").modal("show");
            }

            var shopList = [];
            $(document).ready(function () {
                $.ajax({
                    url: '../Home/GetShop',
                    type: 'POST',
                    success: function (data, textStatus, xhr) {
                        console.log(data);
                        if (data == null || data.length == 0) {
                            $("#text-alert").text("Bạn chưa có cửa hàng nào sử dụng dịch vụ của EFP");
                        } else {

                        }
                        $("#addShop").on("click", function () {
                            ChoosePage();
                        });
                        $(data).each(function () {
                            shopList.push($(this).Id);
                        });
                    },
                    error: function () {

                    }
                });


                
            });

        </script>

</body>
</html>

