
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán</title>
    @Styles.Render("~/Header-CSS")
    @Styles.Render("~/Sweet-Alert-CSS")
    <style>
        .no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
            -moz-appearance: textfield !important;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="loginscreen animated fadeInDown">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight" id="checkOutInfo">
                    <div class="ibox-content p-xl" style="display:none">
                        <div class="table-responsive m-t">
                            <table class="table invoice-table">
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- /table-responsive -->
                        <table class="table invoice-total">
                            <tbody>
                                <tr>
                                    <td><strong>Tổng cộng :</strong></td>
                                    <td><h3></h3> (VND)</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="userNameDiv">
                                        <label>Tên khách hàng:</label>
                                        <h3 id="userName" class="inline"></h3><br /><br />
                                    </div>
                                    <div id="receiverDiv" class="form-group">
                                        <label>Người nhận</label>
                                        <input id="orderReceiver" type="text" placeholder="Người nhận" class="form-control">
                                        <p id="errorCustomerName" style="color:red; display:none">Vui lòng điền tên của bạn!</p>
                                    </div>
                                    <div id="phoneDiv" class="form-group">
                                        <label>Số điện thoại</label>
                                        <input id="orderPhone" type="number" placeholder="Số điện thoại" class="form-control no-spin">
                                        <p id="errorCustomerPhone" style="color:red; display:none">Vui lòng điền số điện thoại của bạn!</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Địa chỉ nhận hàng</label>
                                        <textarea id="shippingAddress" style="resize:none" placeholder="Địa chỉ nhận hàng" class="form-control"> </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <textarea id="userNote" style="resize:none" placeholder="Ghi chú" class="form-control"> </textarea>
                                    </div>
                                    <div class="text-right">
                                        <a class="btn btn-default pull-left" href="/Home/Index?FBId=@ViewBag.PageInfo.FBId&shopId=@ViewBag.PageInfo.ShopId"><i class="fa fa-long-arrow-left"></i> Quay về</a>
                                        <button id="checkOutBtn" class="btn btn-primary" onclick="addOrder()"><i class="fa fa-dollar"></i> Đặt hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Cart Modal-->
    <div class="modal inmodal fade" id="failModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="width: 90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Đóng</span></button>
                    <h4 class="modal-title">Đặt hàng không thành công</h4>
                    <small>Những sản phẩm dưới đây hiện không thể tiến hành đặt hàng</small><br />
                    <small>Vui lòng quay lại trang chủ để xem lại giỏ hàng hoặc tiếp tục đặt hàng những sản phẩm còn lại.</small>
                </div>
                <div class="modal-body" style="padding:0px">
                    
                    <div style="display:none" id="listFailItem">
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td class="desc col-sm-4" style="vertical-align:middle"><h3 style="width:220px" class="truncate"><a href="#" class="text-navy"></a></h3></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="ibox" id="listFail"></div>
                </div>

                <div class="modal-footer">
                    <a href="/Home/Index?FBId=@ViewBag.PageInfo.FBId&shopId=@ViewBag.PageInfo.ShopId" class="btn btn-white pull-left"><i class="fa fa-arrow-left"></i> Về trang chủ</a>
                    <a href="/Home/CheckOut?FBId=@ViewBag.PageInfo.FBId&shopId=@ViewBag.PageInfo.ShopId" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Tiếp tục đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
    <!--./Cart Modal-->
    <!-- Mainly scripts -->
    @Scripts.Render("~/Mainly-scripts")
    @Scripts.Render("~/Sweet-Alert-JS")

    <script type="text/javascript" charset="utf-8">
        var fbId = @ViewBag.PageInfo.FBId;
        var shopId = @ViewBag.PageInfo.ShopId;
        var FBName = "@Html.Raw(ViewBag.PageInfo.UserName)";

        $(document).ready(function(){
            // Load data cart and customer
            $.ajax({
                url:"/GetData/GetCheckOutInfo",
                data:{
                    FBId:fbId,
                    shopId: shopId
                },
                dataType:"json",
                success:function(result){
                    if(result!=null&&result.listCart!=null&&result.listCart.length!=0){
                        if(result.userName != null){
                            $('#userNameDiv').show();
                            $('#receiverDiv > label').text("Người nhận");
                            $('#userName').text('');
                            $('#userName').text(result.userName);
                            $('#orderReceiver').val(result.userName);
                        }else{
                            $('#userNameDiv').hide();
                            $('#receiverDiv > label').text("Tên khách hàng");
                            $('#orderReceiver').val("@Html.Raw(ViewBag.PageInfo.UserName)");
                        }

                        if(result.phone != null){
                            $('#orderPhone').val('');
                            $('#orderPhone').val(result.phone);
                        }else{
                            $('#orderPhone').val('');
                        }

                        if(result.shippingAddress != null){
                            $('#shippingAddress').val('');
                            $('#shippingAddress').val(result.shippingAddress);
                        }else{
                            $('#shippingAddress').val('');
                        }

                        $('#checkOutInfo').find("div.ibox-content.p-xl").removeAttr("style");
                        var total = 0;
                        for(var i=0;i<result.listCart.length;i++){
                            total = total + (result.listCart[i].quantity*result.listCart[i].price)
                            $('#checkOutInfo').find("table.table.invoice-table > tbody").append("<tr>"+
                                            "<td>"+
                                                " <div><strong>"+result.listCart[i].properties+"</strong></div>"+
                                            "</td>"+
                                            "<td>"+result.listCart[i].quantity+"</td>"+
                                            "<td>"+result.listCart[i].price.formatMoney()+"</td>"+
                                            "<td>"+(result.listCart[i].quantity*result.listCart[i].price).formatMoney()+" &#8363;</td>"+
                                            "</tr>")
                        }
                        $('#checkOutInfo').find("table.table.invoice-total > tbody > tr > td:nth-child(2) > h3").text(total.formatMoney());
                        $('#phone').val('');
                        $('#phone').val(result.phone);
                        $('#shippingAddress').val('');
                        $('#shippingAddress').val(result.shippingAddress);
                        $('#userNote').val('');



                    }else{
                        $('#checkOutInfo').find("div.ibox-content.p-xl").attr("style","display:none");
                        $('#checkOutInfo').append("<h2 class='text-center'>Chưa có sản phẩm trong giỏ hàng</h2>");
                        $('#checkOutInfo').append("<a href='/Home/Index?FBId=@ViewBag.PageInfo.FBId&shopId=@ViewBag.PageInfo.ShopId'><h3 class='text-center'>Quay về trang chủ</h3></a>");
                    }
                },
                error:function(){
                    $('#checkOutInfo').find("div.ibox-content.p-xl").attr("style","display:none");
                    $('#checkOutInfo').append("<h2 class='text-center'>Chưa có sản phẩm trong giỏ hàng</h2>");
                    $('#checkOutInfo').append("<a href='/Home/Index?FBId=@ViewBag.PageInfo.FBId&shopId=@ViewBag.PageInfo.ShopId'><h3 class='text-center'>Quay về trang chủ</h3></a>");
                }
            })


        })

        // Function Add order
        function addOrder(){
            var userNote = $('#userNote').val();
            var shippingAddress = $('#shippingAddress').val();
            var receiver = $('#orderReceiver').val();
            var phone = $('#orderPhone').val();
            if($('#receiverDiv > label').text()=="Tên khách hàng"){
                if($('#orderReceiver').val().length==0){
                    $('#receiverDiv').addClass('has-error');
                    $('#errorCustomerName').show();
                }else{
                    $('#receiverDiv').removeClass('has-error');
                    $('#errorCustomerName').hide();
                    if($('#orderPhone').val().length==0){
                        $('#phoneDiv').addClass('has-error');
                        $('#errorCustomerPhone').show();
                    }else{
                        $('#phoneDiv').removeClass('has-error');
                        $('#errorCustomerPhone').hide();
                        callAjaxAddOrder(userNote,shippingAddress,receiver,phone);
                    }
                }
            }else{
                if($('#orderPhone').val().length==0||$('#orderPhone').val().length>11){
                    $('#phoneDiv').addClass('has-error');
                    $('#errorCustomerPhone').show();
                }else{
                    callAjaxAddOrder(userNote,shippingAddress,receiver,phone);
                }
            }
        };
        // Ajax add order
        function callAjaxAddOrder(userNote,shippingAddress,receiver,phone){
            $.ajax({
                url:"/GetData/AddOrder",
                data:{
                    shopId: shopId,
                    note: userNote,
                    fbId: fbId,
                    address: shippingAddress,
                    receiver: receiver,
                    phone: phone
                },
                success: function(data){
                    if(data.success==true){
                        swal({
                            title: "Thành công",
                            text: "Bạn đã tạo đơn hàng thành công",
                            type: "success"
                        },
                        function (isConfirm) {
                            if(isConfirm){
                                window.location.href = "/Home/Index?FBId=@ViewBag.PageInfo.FBId&shopId=@ViewBag.PageInfo.ShopId";
                            }
                        }
                        );
                    };
                    if(data.success==false){
                        if(data.listFail!=null || data.listFail!='undefined'){
                            $('#listFail').empty();
                            for(var i=0; i<data.listFail.length;i++){
                                var item = $('#listFailItem > div.ibox-content').clone();
                                item.find("td > h3 > a").text(data.listFail[i].Properties);
                                $('#listFail').append(item);
                            }
                            $('#failModal').modal('show');
                        }
                    }
                },
                error: function(){
                    swal({
                        title: "Thất bại",
                        text: "Tạo đơn hàng thất bại",
                        type: "error"
                    },
                        function (isConfirm) {
                            if(isConfirm){
                                window.location.href = "/Home/Index?FBId=@ViewBag.PageInfo.FBId&shopId=@ViewBag.PageInfo.ShopId";
                            }
                        })
                }
            })
        }

        //Format money
        Number.prototype.formatMoney = function (c, d, t) {
            var n = this,
                c = isNaN(c = Math.abs(c)) ? 0 : c,
                d = d == undefined ? "," : d,
                t = t == undefined ? "." : t,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                j = (j = i.length) > 3 ? j % 3 : 0;
            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
        };

    </script>


</body>

</html>