
@{
    ViewBag.Title = "Tin nhắn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding:0 10px">
    <!--Tab column-->
    <div class="col-lg-3" style="padding:0">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-inbox" class="cust-tab"> <i class="fa fa-inbox big-ic"></i></a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-comment" class="cust-tab"><i class="fa fa-comments big-ic"></i></a></li>
                <li class=""><a data-toggle="tab" href="#tab-unf" class="cust-tab"><i class="fa fa-database big-ic"></i></a></li>
            </ul>
            <div class="tab-content" style="height: 90vh">
                <div id="tab-inbox" class="tab-pane active">
                    <div class="panel-body" style="padding: 0px 15px 0 15px;">
                        <div class="row">
                            <div class="col-lg-12" style="padding:0px 0 00px 0">
                                <div class="ibox" style="margin-bottom: 0">
                                    <div class="ibox-content ibox-heading">
                                        <h3><i class="fa fa-envelope-o"></i> Tin nhắn</h3>
                                        <!--                                                    <small><i class="fa fa-tim"></i> Bạn có <strong>22 tin nhắn mới</strong></small>-->
                                    </div>
                                    <div class="ibox-content ibox-scroll">
                                        <div class="feed-activity-list">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Comment*@
                <div id="tab-comment" class="tab-pane">
                    <div class="panel-body" style="padding: 10px 20px 0 20px">
                        <div class="row">
                            <div class="col-lg-12" style="padding:0px 0 20px 0">
                                <div class="ibox" style="margin-bottom: 0">
                                    <div class="ibox-content ibox-heading">
                                        <h3><i class="fa fa-comment-o"></i> Bình luận</h3>
                                        <!--                                                    <small><i class="fa fa-tim"></i> Bạn có <strong>22 tin nhắn mới</strong></small>-->
                                    </div>
                                    <div class="ibox-content ibox-scroll" style="padding-left: 10px">
                                        <div class="feed-activity-list">

                                            <div class="feed-element selected">
                                                <div>
                                                    <small class="pull-right">1p trước</small>
                                                    <strong>Vũ Hoàng Long</strong>
                                                    <div>Xin chào shop ^^ have pussy italy believe people vcl</div>
                                                    <!--                                                                <small class="text-muted">Hôm nay 5:60 pm - 12.06.2014</small>-->
                                                </div>
                                            </div>

                                            <div class="feed-element">
                                                <div>
                                                    <small class="pull-right">2m ago</small>
                                                    <strong>Jogn Angel</strong>
                                                    <div>There are many variations of passages of Lorem Ipsum available</div>
                                                </div>
                                            </div>

                                            <div class="feed-element">
                                                <div>
                                                    <small class="pull-right">5m ago</small>
                                                    <strong>Jesica Ocean</strong>
                                                    <div>Contrary to popular belief, Lorem Ipsum</div>
                                                </div>
                                            </div>

                                            <div class="feed-element">
                                                <div>
                                                    <small class="pull-right">5m ago</small>
                                                    <strong>Monica Jackson</strong>
                                                    <div>The generated Lorem Ipsum is therefore </div>
                                                </div>
                                            </div>


                                            <div class="feed-element">
                                                <div>
                                                    <small class="pull-right">5m ago</small>
                                                    <strong>Anna Legend</strong>
                                                    <div>All the Lorem Ipsum generators on the Internet tend to repeat </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <div>
                                                    <small class="pull-right">5m ago</small>
                                                    <strong>Damian Nowak</strong>
                                                    <div>The standard chunk of Lorem Ipsum used </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <div>
                                                    <small class="pull-right">5m ago</small>
                                                    <strong>Gary Smith</strong>
                                                    <div>200 Latin words, combined with a handful</div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-unf" class="tab-pane">
                    <div class="panel-body">
                        <strong>Donec quam felis</strong>

                        <p>Thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath </p>

                        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. I should be incapable of drawing a single stroke at the present moment; and yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--./Tab column-->
    <!--Chat box-->
    <div class="small-chat-bo fadeInRight animated col-lg-5" style="padding: 0">

        <div class="heading" draggable="true">
            <!--                        <small class="chat-date pull-right">02.19.2015</small> -->
            Vũ Hoàng Long
        </div>

        <div class="content slimScrollBar" id="chat-content">
            <li class="chat-date-separator"><abbr class="timestamp">19 Tháng 9</abbr></li>
            <div class="left">
                <div class="author-name">
                    Vũ Hoàng Long
                    <small class="chat-date">19.09.2016 10:02 am</small>
                </div>
                <div class="chat-message active">
                    Hi
                </div>

            </div>
            <div class="right">
                <div class="author-name">
                    Mick Smith
                    <small class="chat-date">
                        19.09.2016 11:24 am
                    </small>
                </div>
                <div class="chat-message">
                    Lorem Ipsum is simpl.
                </div>
            </div>
            <li class="chat-date-separator"><abbr class="timestamp">Hôm qua</abbr></li>
            <div class="left">
                <div class="author-name">
                    Alice Novak
                    <small class="chat-date">
                        Hôm qua 08:45 pm
                    </small>
                </div>
                <div class="chat-message active">
                    Check this stock char.
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    Anna Lamson
                    <small class="chat-date">
                        Hôm qua 11:24 am
                    </small>
                </div>
                <div class="chat-message">
                    The standard chunk of Lorem Ipsum
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    Mick Lane
                    <small class="chat-date">
                        Hôm nay 08:45 pm
                    </small>
                </div>
                <div class="chat-message active">
                    Xin chào shop ^^ have pussy italy believe people vcl
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    Anna Lamson
                    <small class="chat-date">
                        Hôm qua 11:24 am
                    </small>
                </div>
                <div class="chat-message">
                    The standard chunk of Lorem Ipsum
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    Mick Lane
                    <small class="chat-date">
                        Hôm nay 08:45 pm
                    </small>
                </div>
                <div class="chat-message active">
                    Xin chào shop ^^ have pussy italy believe people vcl
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    Anna Lamson
                    <small class="chat-date">
                        Hôm qua 11:24 am
                    </small>
                </div>
                <div class="chat-message">
                    The standard chunk of Lorem Ipsum
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    Mick Lane
                    <small class="chat-date">
                        Hôm nay 08:45 pm
                    </small>
                </div>
                <div class="chat-message active">
                    Xin chào shop ^^ have pussy italy believe people vcl
                </div>
            </div>
            <div class="right">
                <div class="author-name">
                    Anna Lamson
                    <small class="chat-date">
                        Hôm qua 11:24 am
                    </small>
                </div>
                <div class="chat-message">
                    The standard chunk of Lorem Ipsum
                </div>
            </div>
            <div class="left">
                <div class="author-name">
                    Mick Lane
                    <small class="chat-date">
                        Hôm nay 08:45 pm
                    </small>
                </div>
                <div class="chat-message active">
                    Xin chào shop ^^ have pussy italy believe people vcl
                </div>
            </div>
        </div>
        <div class="form-chat">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control"> <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        Send
                    </button>
                </span>
            </div>
        </div>
    </div>
    <!--./Chat box-->
    <!--Customer Info-->
    <div class="col-lg-4 information" style="height: 85vh">
        <div class="">
            <div>
                <h3 style="padding: 0 0 5px 15px">Thông tin khách hàng</h3>
                <div class="info" id="" style="padding:0">
                    <div>
                        <div class="col-md-2">
                            <img alt="image" class="img-circle" src="~/Content/img/profile_small.jpg" style="float:left">
                        </div>
                        @*<div class="col-md-9">
                                <a class="btn btn-info">Chỉnh sửa</a>
                                <a class="btn btn-info">Lưu</a>
                            </div>*@
                    </div>
                    <div class="col-md-5" style="padding-right:0">
                        <i class="fa fa-user"></i> Tên <input id="cus_name" class="form-control" value="Vũ Hoàng Long" readonly>
                    </div>
                    <div class="col-md-5">
                        <i class="fa fa-phone"></i> Số điện thoại <input id="cus_phone" class="form-control" value="01267708763" readonly>
                    </div>
                    <div class="col-md-12">
                        <i class="fa fa-envelope"></i> Email <input class="form-control" id="cus_mail" value="long189b@facebook.com" readonly>
                    </div>
                    <div class="col-md-12">
                        <i class="fa fa-home"></i> Địa chỉ <textarea class="form-control" style="resize:none" id="cus_addr" readonly>189B Quốc Lộ 1K, P.Linh Xuân, Q.Thủ Đức, TP.Hồ Chí Minh</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border-bottom: 2px solid #e7eaec;margin:0"></div>
        <div style="text-align: center; margin-top:5px">
            <div style="padding: 5px;">
                <div id="order-form">
                    <div class="ibox-content">
                        <button id="btn_addproduct" class="btn btn-primary btn-sm" style="margin-top:3px">Thêm sản phẩm</button>

                        <div id="tbl_order" class="table-responsive col-md-12" style="overflow:auto;max-height: 40vh;position:relative;">
                            <table class="table table-striped table-bordered table-hover" width="100%" cellspacing="10" style="text-align: center;" id="add_datatableproduct">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Mã</th>
                                        <th class="col-md-5">Sản phẩm</th>
                                        <th class="col-md-1">Số lượng</th>
                                        <th class="col-md-2">Đơn giá</th>
                                        <th class="col-md-2">Tổng</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                @*<tfoot>
                                        <tr>
                                            <td colspan="4" style="font-weight:bold; text-align:right">Tổng cộng</td>
                                            <td id="table_total" style="font-weight:bold; text-align:center">0</td>
                                            <td style="font-weight:bold; text-align:center">VND</td>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                        <div>
                            <table id="total">
                                <tr>
                                    <td class="col-md-9" colspan="4" style="font-weight:bold; text-align:right">Tổng cộng</td>
                                    <td class="col-md-2" id="table_total" style="font-weight:bold; text-align:center">0</td>
                                    <td class="" style="font-weight:bold; text-align:center">VND</td>
                                </tr>
                            </table>
                        </div>
                        <button id="btn_addorder" class="btn btn-primary">Tạo đơn hàng</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--./Customer Info-->
<!--Order-->
<div id="popover_product" hidden>
    <div class="table-responsive col-md-12">
        <table id="popover_datatable" class="table table-striped table-bordered table-hover" width="100%" style="text-align: center;" aria-hidden="true">
            <thead>
                <tr>
                    <th class="col-md-1">Mã</th>
                    <th class="col-md-8">Sản phẩm</th>
                    <th class="col-md-3">Đơn giá</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--./Order-->

@section CustomCSS{
    @Styles.Render("~/DataTable-CSS")
    @Styles.Render("~/SweetAlert-CSS")
    @Styles.Render("~/TouchSpin-CSS")
    @Styles.Render("~/ChatComment-CSS")
    @Styles.Render("~/jQuery-UI-CSS")

    <style>
        table.dataTable tbody tr.selected, table.dataTable tbody tr.selected:hover {
            background-color: #B0BED9;
        }

        .search-left {
            float: left;
        }

        .noTitleStuff {
            height: 35vh !important;
            width: 500px !important;
        }

            .noTitleStuff .ui-dialog-titlebar {
                display: none;
            }
    </style>
}

@section CustomJS {

    <!-- Bundle -->
    @Scripts.Render("~/DataTable-JS")
    @Scripts.Render("~/SweetAlert-JS")
    @Scripts.Render("~/TouchSpin-JS")
    @Scripts.Render("~/jQuery-UI")
    @Scripts.Render("~/Utility-JS")
    @Scripts.Render("~/SignalR-JS")
    @Scripts.Render("/signalr/hubs")
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.alertHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.sendMessageToPage = function (message, threadId, intent) {
                console.log(threadId);
                console.log(message);
            };

            chat.client.sendCommentToPage = function (comment, intent) {
                console.log(comment);
                console.log(intent);
            };

            // Get the user name and store it to prepend to messages.
            //$('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.qs = { 'Name': @HttpContext.Current.Session["ShopId"] };
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
    </script>

    @*Default*@
    <script>
        $('#add_datatableproduct').DataTable({
            "paging": false
                , "searching": false
                , "ordering": false
            //, "scrollY": "40vh"
            //, "scrollCollapse": true
                , "bLengthChange": false
                , "info": false
                , "destroy": true
                , "language": {
                    "zeroRecords": "Chưa có sản phẩm"
                }
                , "fnInitComplete": function () {
                    $('#tbl_order').slimScroll({
                        height: "40vh",
                        alwaysVisible: true
                    });
                }
        });

        $('.small-chat-bo .content').slimScroll({
            height: "70vh",
            start: 'bottom'
        });
        $('.ibox-scroll').slimScroll({
            height: "70vh"
        });


        //"Thêm sản phẩm" function
        $("#btn_addproduct").click(function (evt) {
            $("#popover_product").dialog({
                autoOpen: false,
                //appendTo: "#someElem",
                draggable: true,
                //height: 40vh,
                //width: 700,
                modal: true,
                resizable: false,
                dialogClass: 'noTitleStuff',
                close: function (event, ui) { $('#wrap').show(); },
                open: function (event, ui) {
                    $('.ui-widget-overlay').bind('click', function () {
                        $("#popover_product").dialog('close');
                    });
                    $('.ui-widget-overlay').css(
                        "cssText", "background: none;"
                    )
                },
                position: {
                    my: "left bottom",
                    at: "left top",
                    of: "#btn_addproduct"
                }
            });
            //$("#popover_product").bind('clickoutside', function () {
            //    $("#popover_product").dialog('close');
            //});

            CreatePopoverDT();
            $("#popover_product").dialog("open");
        });

        //Tạo thêm sp
        function CreatePopoverDT() {

            var table = $('#popover_datatable').DataTable({
                "bProcessing": true
                , "bServerSide": true
                , "sAjaxSource": "/Product/GetAvailableProducts"
                , "aoColumnDefs": [{ "aTargets": [0], "mData": "Id" }
                        , { "aTargets": [1], "mData": "Name" }
                        , { "aTargets": [2], "mData": "Price" }
                ]
                , "fnInitComplete": function () {
                    $('div.dataTables_filter input').focus();

                    //function row click
                    $('#popover_datatable tbody').unbind("click");
                    $('#popover_datatable tbody').on('click', 'tr', function () {
                        if ($(this).hasClass('selected')) {
                            //Do nothing
                        }
                        else {
                            table.$('tr.selected').removeClass('selected');
                            $(this).addClass('selected');
                        }

                        var t = $('#add_datatableproduct').DataTable();
                        var id = table.cell('.selected', 0).data();
                        var tRow = t.row('#' + id);//table.cell('.selected', 0).data() + '');
                        if (tRow.index() == undefined) {
                            //Add row
                            var rowNode = t.row.add([
                                table.cell('.selected', 0).data(),
                                table.cell('.selected', 1).data(),
                                '<input class="form-control" type="text" name="quantity" id="' + table.cell('.selected', 0).data() + '" />',
                                table.cell('.selected', 2).data(),
                                table.cell('.selected', 2).data(),
                                '<button id="del_' + id + '" class="btn btn-danger btn-sm" type="button" style="padding:1px 4px"><i class="fa fa-trash-o"></i></button>'
                            ]).draw(false).node();
                            $(rowNode).attr('id', id);

                            //Quantity
                            $("input[id='" + id + "']").TouchSpin({
                                min: 1,
                                max: 100,
                                initval: 1,
                                verticalbuttons: true
                            }).on('change', function () {
                                var id = $(this).attr('id');
                                CalculateTotal($(this).val(), id);
                            });
                            $(".input-group-btn-vertical").remove();

                            //Delete button
                            $("#del_" + id).click(function () {
                                t.row('#' + id).remove().draw();
                            });

                            //Change total
                            CalculateTotal(1, id);
                        }
                        else {
                            //Increase quantity on click
                            var val = $("input[id='" + id + "']").val();
                            if (val <= 99) {
                                $("input[id='" + id + "']").val(parseInt(val) + 1);
                                CalculateTotal($("input[id='" + id + "']").val(), id);
                            }
                        }

                        //Calculate total on row
                        function CalculateTotal(q, id) {
                            var index = '#' + t.cell('#' + id, 0).data();
                            t.cell(index, 4).data(q * t.cell(index, 3).data());

                            $("#total #table_total").text(t.column(4).data().reduce(function (a, b) {
                                return a + b;
                            }));
                        }
                    });
                }
                , "paging": false
                , "searching": true
                , "ordering": false
                , "scrollY": "30vh"
                //, "scrollX": "100%"
                , "scrollCollapse": true
                , "bLengthChange": false
                , "language": {
                    "loadingRecords": "Đang tải ...",
                    "processing": "Đang xử lý...",
                    "search": "Tìm kiếm:",
                    "searchPlaceholder": "Tên sản phẩm...",
                    "zeroRecords": "Không tìm thấy dữ liệu"
                }
                , "info": false
                , "destroy": true
                , "dom": "<'search-left'f>t"
            })
        }

        // Get ConversationPreview
        $.get('/ChatComment/GetConversationPreviews', function (data) {
            for (i=0;i<data.length;i++){
                console.log(data[i].ThreadId);
                var id='#'+data[i].ThreadId;
                //var tid=(data[i].ThreadId).replace(":","_");
                $('<div id="'+data[i].ThreadId+'" class="feed-element'+(data[i].IsRead? '':' unread')+(i==0? ' selected':'')+'">'+
                                '<div style="float:left; margin-right: 7px">'+
                                    '<div size="50" style="width: 50px; height: 50px;">'+
                                        '<img src="'+data[i].AvatarUrl+'" width="50" height="50" alt="" class="img fb_avatar">'+
                                    '</div>'+
                                 '</div>'+
                                '<div>'+
                                    '<small class="mess_time pull-right">'+GetDateAgo(data[i].CreatedTime)+'</small>'+
                                    '<strong class="fb_name" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">'+data[i].UserName+'</strong>'+
                                    '<div class="mess_preview" style="overflow: hidden;">'+data[i].RecentMess+'</div>'+
                                '</div>'+
                            '</div>').click(function() {
                                alert(id);
                                if ($(id).hasClass("selected")){
                                    //Do nothing
                                }
                                else{
                                    $('.feed-activity-list').find('.selected').removeClass('selected');
                                    $(id).addClass('selected');
                                    console.log($(id));
                                }
                            }).appendTo('.feed-activity-list');
                //Left menu click
                //var id="#"+tid;
                //$('.feed-activity-list').on('click', id , function() {
                //    alert(id);
                //    if ($(id).hasClass("selected")){
                //        //Do nothing
                //    }
                //    else{
                //        $('.feed-activity-list').find('.selected').removeClass('selected');
                //        $(id).addClass('selected');
                //    }
                //});
            }
        });
    </script>

    @*Add Order*@
    <script>
        $("#btn_addorder").click(function (evt) {
            var rs = "true";

            var t = $('#add_datatableproduct').DataTable();
            //details
            var arDetail = [];
            var rows = t.rows();
            if (rows.count() > 0) {
                for (i = 0; i < rows.count() ; i++) {
                    var data = t.rows(i).data()[0];
                    var productid = data[0];
                    var properties = data[1];
                    var quantity = $("input[id='" + productid + "']").val();
                    var price = data[3];

                    arDetail.push({ productid, properties, quantity, price});
                    }
            }
            else {
                rs = "detail";
                //alert no detail
            }
            var status = 1;
            //var note = $('#add_note').val();
            //var address = $('#add_address').val();
            //var receiver = $('#add_receiver').val();
            //var phone = $('#add_phone').val();

            //check customer đã chọn
            var custid = $(".info").attr("id");
            if (custid.length <= 0) {
                rs = "customer";
            }

            if (rs == "true") {
                $.post('/Order/CreateOrder'
                    , {
                        note: null
                        , status: status
                        , address: null
                        , receiver: null
                        , phone: null
                        , listDetail: arDetail
                    }
                    , function (data, status) {
                        if (data == "True") {
                            $("#add_modal").modal("hide");
                            swal({
                                title: "Thêm thành công",
                                animation: "slide-from-top",
                                type: "success",
                                timer: 1000,
                                showConfirmButton: false
                            })
                        }
                        else {
                            swal({
                                title: "Cảnh báo",
                                animation: "slide-from-top",
                                text: "Thêm đơn hàng thất bại",
                                type: "warning",
                                timer: 1000,
                                showConfirmButton: false
                            });
                        }
                    }
                )
            }
            else {
                swal({
                    title: "Cảnh báo",
                    animation: "slide-from-top",
                    text: "Chưa có chọn " + (rs == "detail" ? "sản phẩm" : "khách hàng") + " kìa",
                    type: "warning",
                    timer: 1000,
                    showConfirmButton: false
                });
            }
        });
    </script>
}
