
@{
    ViewBag.Title = "Tin nhắn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fh-breadcrumb" style="padding:0 10px">
    <!--Tab column-->
    <div class="col-xs-3" style="padding:0;height:100%">
        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-inbox" class="cust-tab"> <i class="fa fa-envelope-o big-ic"></i></a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-comment" class="cust-tab"><i class="fa fa-comment big-ic"></i></a></li>
            </ul>
            <div class="tab-content" style="height: 100%">
                <div id="tab-inbox" class="tab-pane active">
                    <div class="panel-body" style="padding: 0px 15px 0 15px;">
                        <div class="row">
                            <div class="col-xs-12" style="padding:0px 0 0px 0">
                                <div class="ibox" style="margin-bottom: 0">
                                    <div class="ibox-search">
                                        <span>
                                            @*<h3><i class="fa fa-envelope-o"></i> Tin nhắn</h3>*@
                                            <input id="txt_searchsender" type="text" class="form-control input-sm" placeholder="Tên người" style="width:90%" />
                                            <button id="btn_searchsender" class="btn btn-default btn-xs" title="Search" place aria-label="Search"><span class="fa fa-search"></span></button>
                                        </span>
                                    </div>
                                    <div class="ibox-content ibox-scroll">
                                        <div id="conv_loading" class="sk-spinner sk-spinner-fading-circle" style="height:100px;width:100px;z-index:1000">
                                            <div class="sk-circle1 sk-circle"></div>
                                            <div class="sk-circle2 sk-circle"></div>
                                            <div class="sk-circle3 sk-circle"></div>
                                            <div class="sk-circle4 sk-circle"></div>
                                            <div class="sk-circle5 sk-circle"></div>
                                            <div class="sk-circle6 sk-circle"></div>
                                            <div class="sk-circle7 sk-circle"></div>
                                            <div class="sk-circle8 sk-circle"></div>
                                            <div class="sk-circle9 sk-circle"></div>
                                            <div class="sk-circle10 sk-circle"></div>
                                            <div class="sk-circle11 sk-circle"></div>
                                            <div class="sk-circle12 sk-circle"></div>
                                        </div>
                                        <div id="no_result" style="display:none">Không tìm thấy người này</div>
                                        <ul id="list_conversation" class="list-group feed-activity-list" style="list-style-type: none;"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Comment*@

            </div>
        </div>
    </div>
    <!--./Tab column-->
    <!--Chat box-->
    <div class="small-chat-bo fadeInRight animated col-xs-5" style="padding: 0">

        <div id="" class="heading receiver_name" draggable="true">
            (Chưa chọn)
        </div>
        <div id="chat_loading" class="sk-spinner sk-spinner-fading-circle" style="height:100px;width:100px;z-index:1000;position:relative;float: left;left: 40%;">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
        <div id="chat_box_content" class="content scrollbar-inner" style="z-index:1;position:relative">

        </div>
        <div class="div_functions">
            <button id="btn_response" class="btn btn-default" type="button">
                <i class="fa fa-at"></i>
            </button>
            <span id="suggest_wrapper">
                <label class="btn btn-primary btn-outline">
                    GỢI Ý
                </label>
            </span>
            <span id="auto_wrapper">
                <label class="btn btn-primary btn-outline">
                    AUTO
                </label>
            </span>
        </div>
        <div class="form-chat">
            <div class="input-group input-group-sm">
                <input id="txt_messreply" type="text" class="form-control">
                <span class="input-group-btn">
                    <button id="btn_sendmess" class="btn btn-primary" type="button">
                        Send
                    </button>
                </span>
            </div>
        </div>
    </div>
    <!--./Chat box-->
    <!--Customer Info-->
    <div class="col-xs-4 information" style="height: 100%">
        <div class="">
            <div>
                <div>
                    <h3 style="padding: 0 0 5px 15px;display:inline-block;">Thông tin khách hàng</h3>
                    <span style="padding: 5px 15px 0 0;float:right">
                        <a id="btn_add" class="btn btn-primary btn-xs" hidden><i class="fa fa-plus"></i></a>
                        <a id="btn_edit" class="btn btn-info btn-xs" hidden><i class="fa fa-edit"></i></a>
                        <a id="btn_ok_add" class="btn btn-primary btn-xs" hidden><i class="fa fa-check"></i></a>
                        <a id="btn_ok_edit" class="btn btn-primary btn-xs" hidden><i class="fa fa-check"></i></a>
                        <a id="btn_cancel" class="btn btn-danger btn-xs" hidden><i class="fa fa-times"></i></a>
                    </span>
                </div>
                <div class="cust_info" id="" style="padding:0">
                    <div>
                        <div class="col-xs-2">
                            <img id="cust_avatar" alt="image" class="img-circle" src="~/Content/img/ava_placeholder.png" style="float:left" width="50" height="50">
                        </div>
                    </div>
                    <div class="col-xs-5" style="padding-right:0">
                        <i class="fa fa-user"></i> Tên <input id="cus_name" class="form-control" value="" readonly>
                    </div>
                    <div class="col-xs-5">
                        <i class="fa fa-phone"></i> Số điện thoại <input id="cus_phone" class="form-control" value="" readonly>
                    </div>
                    <div class="col-xs-12">
                        <i class="fa fa-envelope"></i> Email <input class="form-control" id="cus_mail" value="" readonly>
                    </div>
                    <div class="col-xs-12">
                        <i class="fa fa-home"></i> Địa chỉ <textarea class="form-control" style="resize:none" id="cus_addr" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="border-bottom: 2px solid #e7eaec;margin:0; padding-bottom:10px"></div>
        <div style="text-align: center; margin-top:5px">
            <div style="padding: 5px;">
                <div id="order-form">
                    <div class="ibox-content">
                        <button id="btn_addproduct" class="btn btn-primary btn-sm" style="margin-top:3px">Thêm sản phẩm</button>

                        <div id="tbl_order" class="table-responsive col-md-12 scrollbar-inner">
                            <table class="table table-striped table-bordered table-hover" width="100%" cellspacing="10" style="text-align: center;" id="add_datatableproduct">
                                <thead>
                                    <tr>
                                        <th class="col-md-1">Mã</th>
                                        <th class="col-md-5">Sản phẩm</th>
                                        <th class="col-md-1">Số lượng</th>
                                        <th class="col-md-2">Đơn giá</th>
                                        <th class="col-md-2">Tổng</th>
                                        <th class=""></th>
                                    </tr>
                                </thead>
                                @*<tfoot>
                                        <tr>
                                            <td colspan="4" style="font-weight:bold; text-align:right">Tổng cộng</td>
                                            <td id="table_total" style="font-weight:bold; text-align:center">0</td>
                                            <td style="font-weight:bold; text-align:center">VND</td>
                                        </tr>
                                    </tfoot>*@
                            </table>
                        </div>
                        <div>
                            <table id="total">
                                <tr>
                                    <td class="col-md-9" colspan="4" style="font-weight:bold; text-align:right">Tổng cộng</td>
                                    <td class="col-md-2" id="table_total" style="font-weight:bold; text-align:center">0</td>
                                    <td class="" style="font-weight:bold; text-align:center">VND</td>
                                </tr>
                            </table>
                        </div>
                        <button id="btn_addorder" class="btn btn-primary">Tạo đơn hàng</button>
                        @*<div class="att_img" style="height:100px; width:100px">
                                <img style="height: 100%; width: 100%; object-fit: contain" src="">
                            </div>*@
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--./Customer Info-->
<!--Order-->
<div id="popover_product" hidden>
    <div class="table-responsive col-md-12">
        <table id="popover_datatable" class="table table-bordered table-hover" width="100%" style="text-align: center;" aria-hidden="true">
            <thead>
                <tr>
                    <th class="col-md-1">Mã</th>
                    <th class="col-md-8">Sản phẩm</th>
                    <th class="col-md-3">Đơn giá</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<!--./Order-->
<!--Order-->
<div id="popover_response" hidden>
    <div class="table-responsive col-md-12">
        @*<table id="resp_dt" class="table table-bordered table-hover" width="100%" style="text-align: center;" aria-hidden="true">
                <thead>
                    <tr>
                        <th class="col-md-3">@@</th>
                        <th class="col-md-9">Câu trả lời</th>
                    </tr>
                </thead>
            </table>*@
    </div>
</div>
<!--./Order-->

@section CustomCSS{
    @Styles.Render("~/DataTable-CSS")
    @Styles.Render("~/SweetAlert-CSS")
    @Styles.Render("~/TouchSpin-CSS")
    @Styles.Render("~/jQueryScrollbar-CSS")
    @Styles.Render("~/jQuery-UI-CSS")
    @Styles.Render("~/Toastr-style")
}
@section MyCSS{
    @Styles.Render("~/ChatComment-CSS")

    <style>
        table.dataTable tbody tr.selected, table.dataTable tbody tr.selected:hover {
            background-color: #B0BED9;
        }

        .search-left {
            float: left;
        }

        .noTitleStuff {
            z-index: 2031;
            max-height: 34% !important;
            width: 500px !important;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
        }

            .noTitleStuff .ui-dialog-titlebar {
                display: none;
            }

        .dialog_resp {
            z-index: 2031;
            max-height: 34% !important;
            width: 500px !important;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
        }

            .dialog_resp .ui-dialog-titlebar {
                display: none;
            }

        /*.div_functions .active {
            color: blue;
        }*/

        .response:hover {
            background-color: #B0BED9;
        }

        #tbl_order {
            height: 10%;
            overflow: auto;
            position: relative;
            max-height: 40vh;
        }
    </style>
}

@section CustomJS {

    <!-- Bundle -->
    @Scripts.Render("~/DataTable-JS")
    @Scripts.Render("~/SweetAlert-JS")
    @Scripts.Render("~/TouchSpin-JS")
    @Scripts.Render("~/jQuery-UI")
    @Scripts.Render("~/Utility-JS")
    @Scripts.Render("~/jQueryScrollbar-JS")
    @Scripts.Render("~/Toastr")
    @Scripts.Render("~/SignalR-JS")
    @Scripts.Render("/signalr/hubs")
    <script type="text/javascript">
        var shopId= @HttpContext.Current.Session["ShopId"];
        var page_ava_url="";
        $.ajax({
            async: true,
            url: '/ChatComment/GetPageAvatar',
            success: function (data) {
                page_ava_url=data;
            }
        });

        @*$(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.alertHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.sendMessageToPage = function (data, threadId, intent) {
                console.log(threadId);
                console.log(data);
                ProcessIncomingMessage(data, threadId);
            };

            chat.client.sendCommentToPage = function (comment, intent) {
                console.log(comment);
                console.log(intent);
            };

            // Get the user name and store it to prepend to messages.
            //$('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.qs = { 'Name': @HttpContext.Current.Session["ShopId"] };
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });*@


        function ProcessIncomingMessage(data, threadId){
            var thread=document.getElementById(threadId);
            var mess=data[0];

            if (thread !=null){

                $(thread).find('.mess_preview').text(mess.message);
                $(thread).find('.mess_time').text(FormatChatDateRealtimeVN(Date.parse(mess.created_time)));

                //check if new mess in current clicked conversation
                if (threadId == $('.ui-selected').attr('id')){
                    for (var i=data.length-1;i>=0;i--){
                        var message = data[i];
                        console.log(message);
                        var m=document.getElementById(message.id);

                        if (m){
                            //Do nothing
                        }
                        else{
                            //User's mess
                            if (shopId != message.from.id){
                                $('#chat_box_content').append('<div id="'+message.id+'" class="left">'+
                                    '<img alt="image" class="img-circle user_ava" src="'+$('#cust_avatar').attr('src')+'" style="float:left; margin-right:7px" width="40" height="40">'+
                                    '<div class="author-name">'+
                                        message.from.name+
                                        '<small class="chat-date" style="margin-left: 5px;">'+FormatChatDateRealtimeVN(Date.parse(message.created_time))+'</small>'+
                                    '</div>'+
                                    '<div class="chat-message active" style="word-wrap: break-word;">'+
                                        message.message+
                                    '</div>'+
                                '</div>');
                            }
                                //Page's mess
                            else {
                                $('#chat_box_content').append('<div id="'+message.id+'" class="right">'+
                                    '<img alt="image" class="img-circle shop_ava" src="'+page_ava_url+'" style="float:right; margin-left:7px" width="40" height="40">'+
                                    '<div class="author-name">'+
                                        '<small class="chat-date" style="margin-right: 5px;">'+FormatChatDateRealtimeVN(Date.parse(message.created_time))+'</small>'+
                                        message.from.name+
                                    '</div>'+
                                    '<div class="chat-message" style="word-wrap: break-word;">'+
                                        message.message+
                                    '</div>'+
                                '</div>');
                            }
                        }
                    }
                    ChatboxScrollToBottom();
                }

                //Move conversation to top
                var isSelecting=false;
                if($(thread).hasClass('ui-selected')){
                    isSelecting=true;
                }

                var select= $(thread).detach();
                select.prependTo('#list_conversation');
                if (isSelecting == false){
                    select.addClass("unread");
                }
                else {
                    SetConversationRead(threadId);
                }
            }
            else {
                //create new thread
                var u_ava="";
                $.ajax({
                    async: false,
                    method: 'GET',
                    url: '/ChatComment/GetUserAvatar',
                    data: {"uid": mess.from.id},
                    success: function (data) {
                        u_ava=data;
                    }
                });

                $('#list_conversation').prepend('<div id="'+threadId+'" class="feed-element unread">'+
                    '<div style="float:left; margin-right: 7px">'+
                        '<div size="50" style="width: 50px; height: 50px;">'+
                            '<img id="'+mess.from.id+'" src="'+u_ava+'" width="50" height="50" alt="" class="img fb_avatar">'+
                        '</div>'+
                    '</div>'+
                    '<div>'+
                        '<strong class="fb_name" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">'+mess.from.name+'</strong>'+
                        '<div class="mess_preview" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">'+mess.message+'</div>'+
                        '<small class="mess_time pull-left">'+FormatChatDateRealtimeVN(Date.parse(mess.created_time))+'</small>'+
                    '</div>'+
                '</div>');
            }
        }

        @*Default*@
        $('#chat_loading').show();
        function ShowConvLoading(){
            $('#list_conversation').empty();
            $('#no_result').hide();
            $('#conv_loading').show();
        }

        function ShowChatLoading(){
            $('#chat_box_content').empty();
            $('#chat_loading').show();
        }

        var ajax_searchsender;
        //Search sender
        $('#btn_searchsender').click(function (){
            ShowConvLoading();
            var txtsearch=$('#txt_searchsender').val().trim();
            if (ajax_searchsender) ajax_searchsender.abort();
            ajax_searchsender = $.ajax({
                async: true,
                method: 'GET',
                url: '/ChatComment/SearchSender',
                data: {
                    "search": txtsearch
                },
                success: function (data) {
                    console.log(data);
                    DisplayConversationPreviews(data);
                    $('#conv_loading').hide();
                }
            });

        });
        $('#txt_searchsender').keypress(function(e){
            if(e.keyCode==13)
                $('#btn_searchsender').click();
        });

        $('#txt_messreply').keypress(function(e){
            if(e.keyCode==64){

            }
        });

        $('.small-chat-bo .content').scrollbar();

        $('.ibox-scroll').slimScroll({
            height: "70vh"
        });

        $('#txt_messreply').keypress(function(e){
            if(e.keyCode==13)
                $('#btn_sendmess').click();
        });

        $('#btn_sendmess').click(function (){
            var tid=$('.ui-selected').attr('id');
            var mess= $('#txt_messreply').val();
            console.log(mess);

            $.ajax({
                async: false,
                method: 'GET',
                url: '/ChatComment/SendMessage',
                data: {
                    "threadId": tid,
                    "message": mess
                },
                success: function (data) {
                    console.log(data);
                    if(data.success == true){
                        $('#txt_messreply').val('');
                    }
                    else{
                        //alert("Có lỗi! Không gửi được");
                    }
                }
            });

        });

        function ChatboxScrollToBottom(){
            $('#chat_box_content').scrollTop($('#chat_box_content').height()*10);
        }

        //Datatable list order
        $('#add_datatableproduct').DataTable({
            "paging": false
                , "searching": false
                , "ordering": false
            //, "scrollY": "40vh"
            //, "scrollCollapse": true
                , "bLengthChange": false
                , "info": false
                , "destroy": true
                , "language": {
                    "zeroRecords": "Chưa có sản phẩm"
                }
                , "fnInitComplete": function () {
                    $('#tbl_order').scrollbar();
                }
        });

        //"Thêm sản phẩm" function
        $("#btn_addproduct").click(function (evt) {
            $("#popover_product").dialog({
                autoOpen: false,
                //appendTo: "#someElem",
                draggable: true,
                //height: 40vh,
                //width: 700,
                modal: true,
                resizable: false,
                dialogClass: 'noTitleStuff',
                close: function (event, ui) { $('#wrap').show(); },
                open: function (event, ui) {
                    $('.ui-widget-overlay').bind('click', function () {
                        $("#popover_product").dialog('close');
                    });
                    $('.ui-widget-overlay').css(
                        "cssText", "background: none;"
                    )
                },
                position: {
                    my: "left bottom",
                    at: "left top",
                    of: "#btn_addproduct"
                }
            });
            //$("#popover_product").bind('clickoutside', function () {
            //    $("#popover_product").dialog('close');
            //});

            CreatePopoverDT();
            $("#popover_product").dialog("open");
        });

        //Tạo thêm sp
        function CreatePopoverDT() {

            var table = $('#popover_datatable').DataTable({
                "bProcessing": true
                , "bServerSide": true
                , "sAjaxSource": "/Product/GetAvailableProducts"
                , "aoColumnDefs": [{ "aTargets": [0], "mData": "Id" }
                        , { "aTargets": [1], "mData": "Name" }
                        , { "aTargets": [2], "mData": "Price" }
                ]
                , "fnInitComplete": function () {

                    $('div.dataTables_filter input').focus();

                    //function row click
                    //var isEmpty = $('.dataTables_empty') != null;
                    //alert(isEmpty);
                    var isEmpty = false;
                    if (isEmpty){
                        //Do nothing
                    }
                    else{
                        $('#popover_datatable tbody').unbind("click");
                        $('#popover_datatable tbody').on('click', 'tr', function () {
                            if ($(this).hasClass('selected')) {
                                //Do nothing
                            }
                            else {
                                table.$('tr.selected').removeClass('selected');
                                $(this).addClass('selected');
                            }

                            var t = $('#add_datatableproduct').DataTable();
                            var id = table.cell('.selected', 0).data();
                            var tRow = t.row('#' + id);//table.cell('.selected', 0).data() + '');
                            if (tRow.index() == undefined) {
                                //Add row
                                var rowNode = t.row.add([
                                    table.cell('.selected', 0).data(),
                                    table.cell('.selected', 1).data(),
                                    '<input class="form-control" type="text" name="quantity" id="' + table.cell('.selected', 0).data() + '" style="padding: 4px;text-align: center;" />',
                                    table.cell('.selected', 2).data(),
                                    table.cell('.selected', 2).data(),
                                    '<button id="del_' + id + '" class="btn btn-danger btn-sm" type="button" style="padding:1px 4px"><i class="fa fa-trash-o"></i></button>'
                                ]).draw(false).node();
                                $(rowNode).attr('id', id);

                                //Quantity
                                $("input[id='" + id + "']").TouchSpin({
                                    min: 1,
                                    max: 100,
                                    initval: 1,
                                    verticalbuttons: true
                                }).on('change', function () {
                                    var id = $(this).attr('id');
                                    CalculateTotal($(this).val(), id);
                                });
                                $(".input-group-btn-vertical").remove();

                                //Delete button
                                $("#del_" + id).click(function () {
                                    t.row('#' + id).remove().draw();
                                });

                                //Change total
                                CalculateTotal(1, id);
                            }
                            else {
                                //Increase quantity on click
                                var val = $("input[id='" + id + "']").val();
                                if (val <= 99) {
                                    $("input[id='" + id + "']").val(parseInt(val) + 1);
                                    CalculateTotal($("input[id='" + id + "']").val(), id);
                                }
                            }

                            //Calculate total on row
                            function CalculateTotal(q, id) {
                                var index = '#' + t.cell('#' + id, 0).data();
                                t.cell(index, 4).data(q * t.cell(index, 3).data());

                                $("#total #table_total").text(t.column(4).data().reduce(function (a, b) {
                                    return a + b;
                                }));
                            }
                        });

                        $('#popover_datatable tbody').find('.dataTables_empty').parent().unbind("click");
                    }

                }
                , "paging": false
                , "searching": true
                , "ordering": false
                , "scrollY": "23vh"
                //, "scrollX": "100%"
                , "scrollCollapse": true
                , "bLengthChange": false
                , "language": {
                    "loadingRecords": "Đang tải ...",
                    "processing": "Đang xử lý...",
                    "search": "Tìm kiếm:",
                    "searchPlaceholder": "Tên sản phẩm...",
                    "zeroRecords": "Không tìm thấy dữ liệu"
                }
                , "info": false
                , "destroy": true
                , "dom": "<'search-left'f>t"
            })
        }

        $('#list_conversation').selectable({
            selecting: function(event, ui) {
                $('.ui-selected').removeClass('ui-selected');
            },
            selected: function( event, ui ) {
                ConversationSelect();
            }
        });
        function ConversationSelect(){

            var thread_id=$('#list_conversation .ui-selected').attr('id');
            var userfbid=$('.ui-selected .fb_avatar').attr('id');
            if ($('.ui-selected .fb_avatar').attr('id') != $('.receiver_name').attr('id')){
                ShowChatLoading();

                $('#cust_avatar').attr('src',$('.ui-selected .fb_avatar').attr('src'));
                $('.receiver_name').text($('.ui-selected .fb_name').html());
                $('.receiver_name').attr('id', $('.ui-selected .fb_avatar').attr('id'));

                if ($('.ui-selected').hasClass('unread')){
                    SetConversationRead(thread_id);
                }

                ProcessUserInfo(userfbid);

                GetConversationContent(thread_id);

                ClearOrder();

                ClearChatBox();
            }

        }

        function ClearChatBox(){
            $('#txt_messreply').val('');
        }

        function SetConversationRead(t_id){
            $.ajax({
                async: false,
                method: 'GET',
                url: '/ChatComment/SetConversationRead',
                data: {"conversationId": t_id},
                success: function (data) {
                    if (data ==true){
                        $('.ui-selected').removeClass('unread');
                    }
                }
            });
        }

        // Get ConversationPreview
        $.get('/ChatComment/GetConversationPreviews', function (data) {
            DisplayConversationPreviews(data);
        });
        function ClickFirst(){
            ConversationSelect();
        }
        function DisplayConversationPreviews(data){
            if(data.success != false){
                var first = "";
                for (i=0;i<data.length;i++){
                    console.log(data[i].ThreadId);
                    if (i==0){
                        first=data[i].ThreadId;
                    }
                    var isSelecting = false;
                    if (data[i].UserFbId == $('.receiver_name').attr('id')){
                        isSelecting=true;
                    }
                    $('#list_conversation').append('<li id="'+data[i].ThreadId+'" class="feed-element'+(data[i].IsRead? '':' unread')+(isSelecting? ' ui-selected':'')+'">'+
                                    '<div style="float:left; margin-right: 7px">'+
                                        '<div size="50" style="width: 50px; height: 50px;">'+
                                            '<img id="'+data[i].UserFbId+'" src="'+data[i].AvatarUrl+'" width="50" height="50" alt="" class="img fb_avatar">'+
                                        '</div>'+
                                     '</div>'+
                                    '<div>'+
                                        '<strong class="fb_name" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">'+data[i].UserName+'</strong>'+
                                        '<div class="mess_preview" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">'+data[i].RecentMess+'</div>'+
                                        '<small class="mess_time pull-left">'+FormatChatDateTimeVN(data[i].CreatedTime)+'</small>'+
                                    '</div>'+
                                '</li>');
                }
            }
            else{
                $('#conv_loading').hide();
                $('#no_result').unbind('click');
                $('#no_result').show();
            }
            $('#conv_loading').hide();
        }

        //"GỢI Ý"
        $('#suggest_wrapper').click(function(){
            if ($('#suggest_wrapper .btn').hasClass('active')){
                $('#suggest_wrapper .btn').removeClass('active');
                $("#txt_messreply").unbind('keydown');
                $("#txt_messreply").autocomplete("destroy");
            }
            else{
                $('#suggest_wrapper .btn').addClass('active');
                GetSuggestReply();
            }
        });

        //"AUTO"
        var reply_mode=0;
        $.ajax({
            async: false,
            method: 'GET',
            url: '/Shop/GetReplyMode',
            success: function (data) {
                console.log(data);
                reply_mode=data.mode;
            }
        });
        if (reply_mode==1){
            $('#auto_wrapper .btn').addClass('active');
        }

        $('#auto_wrapper').click(function(){
            if ($('#auto_wrapper .btn').hasClass('active')){
                $('#auto_wrapper .btn').removeClass('active');
                SetReplyMode(1);
            }
            else{
                $('#auto_wrapper .btn').addClass('active');
                SetReplyMode(2);
            }
        });

        function SetReplyMode(mode){
            $.ajax({
                async: true,
                method: 'GET',
                url: '/Shop/SetReplyMode',
                data: {"mode": mode}
            });
        }

        //Get conversation content
        var ajax_GetConversationContent;
        function GetConversationContent(t_id){
            if (ajax_GetConversationContent) ajax_GetConversationContent.abort();

            ajax_GetConversationContent= $.ajax({
                async: true,
                method: 'GET',
                url: '/ChatComment/GetConversationContent',
                data: {"conversationId": t_id},
                success: function (data) {
                    console.log(data);

                    DisplayChatContent(data);

                    ChatboxScrollToBottom();
                    $('#chat_loading').hide();
                }
            });

            
        }

        function GetSuggestReply(){
            $( function() {
                var availableReps=[];

                $.ajax({
                    async: true,
                    method: 'GET',
                    url: '/ChatComment/GetAvailableResponses',
                    success: function (data) {
                        console.log(data);
                        for (var i=0;i<data.length;i++){
                            availableReps.push(data[i].Value);
                        }
                    }
                });

                function split( val ) {
                    return val.split( / \s*/ );
                }
                function extractLast( term ) {
                    return split( term ).pop();
                }

                $( "#txt_messreply" )
                  // don't navigate away from the field on tab when selecting an item
                  .on( "keydown", function( event ) {
                      if ( event.keyCode === $.ui.keyCode.TAB &&
                          $( this ).autocomplete( "instance" ).menu.active ) {
                          event.preventDefault();
                      }
                  })
                  .autocomplete({
                      minLength: 0,
                      source: function( request, response ) {
                          // delegate back to autocomplete, but extract the last term
                          response( $.ui.autocomplete.filter(
                            availableReps, extractLast( request.term ) ) );
                      },
                      focus: function() {
                          // prevent value inserted on focus
                          return false;
                      },
                      select: function( event, ui ) {
                          var terms = split( this.value );
                          // remove the current input
                          terms.pop();
                          // add the selected item
                          terms.push( ui.item.value );
                          // add placeholder to get the comma-and-space at the end
                          terms.push( "" );
                          this.value = terms.join( " " );
                          return false;
                      },
                      position: {
                          my: "left bottom",
                          at: "left top"
                      }
                  });
            } );
        }

        // Display Chat box content
        function DisplayChatContent(data){
            for (i=0;i<data.Messages.length;i++){
                var mess=data.Messages[i];
                if (mess.UserId != shopId){
                    //Check has attachments
                    var strAtt="";
                    console.log(mess);
                    if (mess.Attachments.length > 0)
                    {

                        strAtt+='<div class="chat-attach col-sm-12" style="word-wrap: break-word;margin-left:32px">';
                        for (var j=0;j<mess.Attachments.length;j++){
                            var att=mess.Attachments[j];
                            if (att.Type == "img"){
                                strAtt+='<a href="'+att.Url+'" target="_blank">'+
                                            '<img style="height: 100px; width: 100px; object-fit: contain" src="'+att.Url+'">'+
                                        '</a>'
                            }
                            else{
                                strAtt+='<div class="chat-message active" style="word-wrap: break-word;">'+
                                            '<a href="'+att.Url+'" target="_blank" style="color:white;">'+
                                                att.Filename+
                                            '</a>'
                                '</div>'

                            }

                            if (j!=mess.Attachments.length-1){
                                strAtt+='<br/>';
                            }
                        }
                        strAtt+='</div>';
                    }

                    //Chat message
                    var strMess="";
                    if (mess.MessContent.length >0){
                        strMess+='<div class="chat-message active" style="word-wrap: break-word;">'+
                                    mess.MessContent+
                                '</div>'
                    }

                    $('#chat_box_content').prepend('<div id="'+mess.MessId+'" class="left">'+
                            '<img alt="image" class="img-circle user_ava" src="'+$('#cust_avatar').attr('src')+'" style="float:left; margin-right:7px;height: 40px; width: 40px;">'+
                            '<div class="author-name">'+
                                mess.UserName+
                                '<small class="chat-date" style="margin-left: 5px;">'+FormatChatDateTimeVN(mess.DateCreated)+'</small>'+
                            '</div>'+
                            strMess+
                            strAtt+
                        '</div>');
                }
                else {
                    $('#chat_box_content').prepend('<div id="'+mess.MessId+'" class="right">'+
                        '<img alt="image" class="img-circle shop_ava" src="'+page_ava_url+'" style="float:right; margin-left:7px" width="40" height="40">'+
                        '<div class="author-name">'+
                            '<small class="chat-date" style="margin-right: 5px;">'+FormatChatDateTimeVN(mess.DateCreated)+'</small>'+
                            mess.UserName+
                        '</div>'+
                        '<div class="chat-message" style="word-wrap: break-word;">'+
                            mess.MessContent+
                        '</div>'+
                    '</div>');
                }
            }

            if (data.NextUrl != "null"){
                $('#chat_box_content').prepend('<button id="btn_chatnext" class="form-control center-block" style="width:50%;background-color: #e7eaec"><i id="next_icon" class="fa fa-caret-up big-ic"></i></button>');
                $('#btn_chatnext').unbind('click');

                $('#btn_chatnext').click(function (){
                    var arrow=$('#next_icon').detach();
                    $('#btn_chatnext').append('<div class="sk-spinner sk-spinner-fading-circle">'+
                            '<div class="sk-circle1 sk-circle"></div>'+
                            '<div class="sk-circle2 sk-circle"></div>'+
                            '<div class="sk-circle3 sk-circle"></div>'+
                            '<div class="sk-circle4 sk-circle"></div>'+
                            '<div class="sk-circle5 sk-circle"></div>'+
                            '<div class="sk-circle6 sk-circle"></div>'+
                            '<div class="sk-circle7 sk-circle"></div>'+
                            '<div class="sk-circle8 sk-circle"></div>'+
                            '<div class="sk-circle9 sk-circle"></div>'+
                            '<div class="sk-circle10 sk-circle"></div>'+
                            '<div class="sk-circle11 sk-circle"></div>'+
                            '<div class="sk-circle12 sk-circle"></div>'+
                        '</div>');
                    $('#btn_chatnext').attr('disabled',true);
                    $.ajax({
                        async: true,
                        method: 'POST',
                        url: '/ChatComment/GetConversationContentNext',
                        data: {"url": data.NextUrl},
                        success: function (data) {
                            console.log("next data: "+data);
                            $('#btn_chatnext').remove();
                            if (data!=null){
                                DisplayChatContent(data);
                            }
                        }
                    });
                });
            }

            $('.scroll-x').remove();
        }

        // Response
        $("#btn_response").click(function (evt) {
            if ($("#btn_response").hasClass('active') == false){
                $("#btn_response").addClass('active');

                $("#popover_response").dialog({
                    autoOpen: false,
                    draggable: true,
                    modal: true,
                    resizable: false,
                    dialogClass: 'dialog_resp',
                    close: function (event, ui) {
                        $('#wrap').show();
                        $("#btn_response").removeClass('active');
                    },
                    open: function (event, ui) {
                        $('.ui-widget-overlay').bind('click', function () {
                            $("#popover_response").dialog('close');
                        });
                        $('.ui-widget-overlay').css(
                            "cssText", "background: none;"
                        )
                    },
                    position: {
                        my: "left bottom",
                        at: "left top",
                        of: "#btn_response"
                    }
                });
            }


            CreateResponseDT();
            $("#popover_response").dialog("open");
        });

        function CreateResponseDT(){
            //var table = $('#resp_dt').DataTable({
            //    "bProcessing": true
            //    , "bServerSide": true
            //    , "sAjaxSource": "/ChatComment/GetAvailableResponses"
            //    , "aoColumnDefs": [{ "aTargets": [0], "mData": "Name" }
            //            , { "aTargets": [1], "mData": "Value" }
            //    ]
            //    , "fnInitComplete": function () {
            //        $('div.dataTables_filter input').focus();

            //        //function row click
            //        $('#resp_dt tbody').unbind("click");
            //        $('#resp_dt tbody').on('click', 'tr', function () {
            //            if ($(this).hasClass('selected')) {
            //                //Do nothing
            //            }
            //            else {
            //                table.$('tr.selected').removeClass('selected');
            //                $(this).addClass('selected');
            //            }

            //            var mess=$('#messreply_textbox').val().trim();
            //            if (mess.length !=0){
            //                mess+=' '+table.cell('.selected', 1).data();
            //            }
            //            else {
            //                mess=table.cell('.selected', 1).data();
            //            }
            //            $('#messreply_textbox').val(mess);

            //            $("#popover_response").dialog('close');
            //        });
            //    }
            //    , "paging": false
            //    , "searching": true
            //    , "ordering": false
            //    , "scrollY": "23vh"
            //    //, "scrollX": "100%"
            //    , "scrollCollapse": true
            //    , "bLengthChange": false
            //    , "language": {
            //        "loadingRecords": "Đang tải ...",
            //        "processing": "Đang xử lý...",
            //        "search": "Tìm kiếm:",
            //        "searchPlaceholder": "Tên sản phẩm...",
            //        "zeroRecords": "Không tìm thấy dữ liệu"
            //    }
            //    , "info": false
            //    , "destroy": true
            //    , "dom": "<'search-left'f>t"
            //})

            var availableReps=[];
            $.ajax({
                async: false,
                method: 'GET',
                url: '/ChatComment/GetAvailableResponses',
                success: function (data) {
                    availableReps=data;
                }
            });

            $("#popover_response").empty();
            console.log(availableReps);
            for (var i=0;i<availableReps.length;i++){
                var att=availableReps[i];

                $("#popover_response").append('<div class="response input-group col-xs-12">'+
                    '<span class="col-xs-3">'+att.Name+'</span>'+
                    '<span class="resp_value col-xs-9">'+att.Value+'</span>'+
                '</div>');
            }

            $('.response').click(function (){
                var mess=$('#txt_messreply').val().trim();
                console.log(mess);
                if (mess.length !=0){
                    mess+=' '+$(this).find('.resp_value').html().trim();
                }
                else {
                    mess=$(this).find('.resp_value').html().trim();
                }
                $('#txt_messreply').val(mess);
                $("#popover_response").dialog('close');
            });

        }

        //User info
        $('#btn_add').hide();
        $('#btn_edit').hide();
        $('#btn_ok_add').hide();
        $('#btn_ok_edit').hide();
        $('#btn_cancel').hide();

        function ProcessUserInfo(userfbid){
            var cust = GetUserFromDb(userfbid);
            console.log(cust);
            if (cust !=null){
                $('.cust_info').attr('id',cust.Id);

                $('#cus_name').attr('value', cust.Name);
                $('#cus_phone').attr('value', cust.Phone);
                $('#cus_mail').attr('value', cust.Email);
                document.getElementById("cus_addr").defaultValue=cust.Address;
                $('#cus_name').val($('#cus_name').attr('value'));
                $('#cus_phone').val($('#cus_phone').attr('value'));
                $('#cus_mail').val($('#cus_mail').attr('value'));
                $('#cus_addr').val(document.getElementById("cus_addr").defaultValue);

                $('#btn_add').hide();
                $('#btn_edit').show();
                $('#btn_ok_add').hide();
                $('#btn_ok_edit').hide();
                $('#btn_cancel').hide();
            }
            else{
                $('.cust_info').attr('id','');

                $('#cus_name').attr('value', 'Chưa có dữ liệu');
                $('#cus_phone').attr('value', '');
                $('#cus_mail').attr('value', '');
                document.getElementById("cus_addr").defaultValue="";
                $('#cus_name').val($('#cus_name').attr('value'));
                $('#cus_phone').val($('#cus_phone').attr('value'));
                $('#cus_mail').val($('#cus_mail').attr('value'));
                $('#cus_addr').val(document.getElementById("cus_addr").defaultValue);

                $('#btn_add').show();
                $('#btn_edit').hide();
                $('#btn_ok_add').hide();
                $('#btn_ok_edit').hide();
                $('#btn_cancel').hide();
            }
            $("#cus_name").prop('readonly', true);
            $("#cus_phone").prop('readonly', true);
            $("#cus_mail").prop('readonly', true);
            $("#cus_addr").prop('readonly', true);
        }

        $('#btn_add').click(function(){
            $("#cus_name").prop('readonly', false);
            $("#cus_phone").prop('readonly', false);
            $("#cus_mail").prop('readonly', false);
            $("#cus_addr").prop('readonly', false);

            $('#cus_name').val($('.ui-selected .fb_name').html());
            $('#cus_phone').val('');
            $('#cus_mail').val('');
            $('#cus_addr').val('');

            $('#btn_add').hide();
            $('#btn_edit').hide();
            $('#btn_ok_add').show();
            $('#btn_ok_edit').hide();
            $('#btn_cancel').show();
        });

        $('#btn_edit').click(function(){
            $("#cus_name").prop('readonly', false);
            $("#cus_phone").prop('readonly', false);
            $("#cus_mail").prop('readonly', false);
            $("#cus_addr").prop('readonly', false);

            $('#btn_add').hide();
            $('#btn_edit').hide();
            $('#btn_ok_add').hide();
            $('#btn_ok_edit').show();
            $('#btn_cancel').show();
        });

        $('#btn_ok_add').click(function(){
            $.get('/Customer/AddCustomerReturnId', {
                "Id": $('.ui-selected .fb_avatar').attr('id'),
                "Name": $('#cus_name').val(),
                "Addr": $('#cus_addr').val(),
                "Desc": null,
                "Phone": $('#cus_phone').val(),
                "Email": $('#cus_mail').val()
            }, function (data) {
                console.log('Add customer status: '+data);

                if (data!=null){
                    toastr.success("", "Thêm thành công");
                    $('.cust_info').attr('id',data.Id);

                    $("#cus_name").prop('readonly', true);
                    $("#cus_phone").prop('readonly', true);
                    $("#cus_mail").prop('readonly', true);
                    $("#cus_addr").prop('readonly', true);

                    $('#cus_name').attr('value', $('#cus_name').val());
                    $('#cus_phone').attr('value', $('#cus_phone').val());
                    $('#cus_mail').attr('value', $('#cus_mail').val());
                    document.getElementById("cus_addr").defaultValue=$('#cus_addr').val();

                    $('#btn_add').hide();
                    $('#btn_edit').show();
                    $('#btn_ok_add').hide();
                    $('#btn_ok_edit').hide();
                    $('#btn_cancel').hide();
                }
                else {
                    toastr.error("Xin điền đầy đủ các ô bắt buộc", "Thất bại");
                }
            });
        });

        $('#btn_ok_edit').click(function(){
            $.get('/Customer/EditCustomer', {
                "Id": $('.cust_info').attr('id'),
                "Name": $('#cus_name').val(),
                "Addr": $('#cus_addr').val(),
                "Desc": null,
                "Phone": $('#cus_phone').val(),
                "Email": $('#cus_mail').val(),
                "ShopId": null
            }, function (data) {
                console.log('Edit customer status: '+data);

                if (data=="True"){
                    toastr.success("", "Đã lưu thành công");
                    $("#cus_name").prop('readonly', true);
                    $("#cus_phone").prop('readonly', true);
                    $("#cus_mail").prop('readonly', true);
                    $("#cus_addr").prop('readonly', true);

                    $('#cus_name').attr('value', $('#cus_name').val());
                    $('#cus_phone').attr('value', $('#cus_phone').val());
                    $('#cus_mail').attr('value', $('#cus_mail').val());
                    document.getElementById("cus_addr").defaultValue=$('#cus_addr').val();

                    $('#btn_add').hide();
                    $('#btn_edit').show();
                    $('#btn_ok_add').hide();
                    $('#btn_ok_edit').hide();
                    $('#btn_cancel').hide();
                }
                else {
                    toastr.error("Có lỗi xảy ra", "Thất bại");
                }
            });
        });

        $('#btn_cancel').click(function(){
            $("#cus_name").prop('readonly', true);
            $("#cus_phone").prop('readonly', true);
            $("#cus_mail").prop('readonly', true);
            $("#cus_addr").prop('readonly', true);

            $('#cus_name').val($('#cus_name').attr('value'));
            $('#cus_phone').val($('#cus_phone').attr('value'));
            $('#cus_mail').val($('#cus_mail').attr('value'));
            $('#cus_addr').val(document.getElementById("cus_addr").defaultValue);

            if($('#btn_ok_add').is(":visible")){
                $('#btn_add').show();
            }
            else {
                $('#btn_add').hide();
            }
            if($('#btn_ok_edit').is(":visible")){
                $('#btn_edit').show();
            }
            else {
                $('#btn_edit').hide();
            }
            $('#btn_ok_add').hide();
            $('#btn_ok_edit').hide();
            $('#btn_cancel').hide();
        });

        //Check user is in the system - Input: UserFbId - Return Customer obj
        function GetUserFromDb(fbid){
            var rs=null;
            $.ajax({
                async: false,
                url: '/ChatComment/GetUserFromDb',
                data: {"userFbId": fbid},
                success: function (data) {
                    if (data==false){
                        //Do nothing
                    }
                    else {
                        rs=data;
                    }
                }
            });
            return rs;
        }

        @*Add Order*@
        $("#btn_addorder").click(function () {
            var rs = "true";

            var t = $('#add_datatableproduct').DataTable();
            //details
            var arDetail = [];
            var rows = t.rows();
            if (rows.count() > 0) {
                for (i = 0; i < rows.count() ; i++) {
                    var data = t.rows(i).data()[0];
                    var productid = data[0];
                    var properties = data[1];
                    var quantity = $("input[id='" + productid + "']").val();
                    var price = data[3];

                    arDetail.push({ productid, properties, quantity, price});
                    }
                    }
                    else {
                rs = "detail";
                //alert no detail
            }
            var status = 1;

            //check customer đã chọn
            var custid = $(".cust_info").attr("id");
            console.log(custid);
            if (custid.length <= 0) {
                rs = "customer";
            }

            if (rs == "true") {
                $.post('/Order/CreateOrder'
                    , { custId: custid
                        , note: null
                        , status: status
                        , address: null
                        , receiver: null
                        , phone: null
                        , listDetail: arDetail
                    }
                    , function (data, status) {
                        if (data == "True") {
                            $("#add_modal").modal("hide");
                            ClearOrder();
                            swal({
                                title: "Thêm thành công",
                                animation: "slide-from-top",
                                type: "success",
                                timer: 1000,
                                showConfirmButton: false
                            });

                        }
                        else {
                            swal({
                                title: "Cảnh báo",
                                animation: "slide-from-top",
                                text: "Thêm đơn hàng thất bại",
                                type: "warning",
                                timer: 1000,
                                showConfirmButton: false
                            });
                        }
                    }
                )
            }
            else {
                swal({
                    title: "Cảnh báo",
                    animation: "slide-from-top",
                    text: "Chưa có chọn " + (rs == "detail" ? "sản phẩm" : "khách hàng") + " kìa",
                    type: "warning",
                    timer: 1000,
                    showConfirmButton: false
                });
            }
        });

        function ClearOrder(){
            var t = $('#add_datatableproduct').DataTable();
            t.clear().draw();
        }


    </script>
}
