@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Header-CSS")
    @RenderSection("CustomCSS", required: false)
    @Styles.Render("~/Animate-and-style-CSS")
    @RenderSection("MyCSS", required: false)
</head>
<body class="md-skin fixed-nav fixed-nav-basic fixed-sidebar">
    <div id="wrapper">
        <!--Left navbar-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <!--User information-->
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/Content/img/profile.jpg" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">                                
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">@User.Identity.GetUserName()</strong>
                                    </span> <span class="text-muted text-xs block">Quản trị viên <b class="caret"></b></span>
                                </span>                                
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="../Manage/Index">Tài khoản của bạn</a></li>                                
                            </ul>
                        </div>
                        <div class="logo-element"> EFP </div>
                    </li>
                    <!--./User information-->
                    <!--Dashboard-->
                    <li>
                        <a href="../Shop/Index"><i class="fa fa-th-large"></i> <span class="nav-label">Quản lý chung</span></a>
                    </li>
                    <!--./Dashboard-->                    
                    <li> <a href="../Order"><i class="fa fa-inbox"></i> <span class="nav-label">Đơn hàng</span> <span class="label label-danger pull-right">23</span></a> </li>
                    <li> <a href="../Product"><i class="fa fa-tags"></i> <span class="nav-label">Sản phẩm</span> </a> </li>
                    <li> <a href="../Category"><i class="fa fa-tags"></i> <span class="nav-label">Phân loại</span> </a> </li>
                    <li> <a href="../Template"><i class="fa fa-tags"></i> <span class="nav-label">Mẫu sản phẩm</span> </a> </li>
                    <li> <a href="../Customer"><i class="fa fa-users"></i> <span class="nav-label">Khách hàng</span> </a> </li>
                    <li> <a href="../Analysis/Comment"><i class="fa fa-line-chart"></i> <span class="nav-label">Thống kê</span> </a> </li>
                    <li>
                        <a href="../Shop/Setting"><i class="fa fa-edit"></i> <span class="nav-label">Cài đặt</span>@*<span class="fa arrow"></span>*@</a>
                        @*<ul class="nav nav-second-level collapse">
                                <li><a href="">Basic form</a></li>
                                <li><a href="form_advanced.html">Advanced Plugins</a></li>
                                <li><a href="form_wizard.html">Wizard</a></li>
                                <li><a href="form_file_upload.html">File Upload</a></li>
                                <li><a href="form_editors.html">Text Editor</a></li>
                                <li><a href="form_markdown.html">Markdown</a></li>
                            </ul>*@
                    </li>
                </ul>
            </div>
        </nav>
        <!--./Left navbar-->
        <!--Page wrapper-->
        <div id="page-wrapper" class="gray-bg">
            <!--Top navbar-->
            <div class="row border-bottom">
                <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        @*<form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Tìm kiếm" class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>*@
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <!--<li>
                            <span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>
                        </li>-->
                        <!--Notification icon-->

                        <li class="dropdown">
                            <!--Number of notification-->
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell"></i>
                                <span class="label label-danger" id="notiCount">
                                    1
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="../ChatComment">
                                        <div> <i class="fa fa-envelope fa-fw"></i> Bạn có <span id="conversationCount">@ViewBag.NewConversationCount</span> đoạn hội thoại mới @*<span class="pull-right text-muted small">4 minutes ago</span>*@ </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="../ChatComment">
                                        <div> <i class="fa fa-comments fa-fw"></i> Bạn có <span id="postCount">@ViewBag.NewPostCount</span> bài viết trên trang mới @*<span class="pull-right text-muted small">12 minutes ago</span>*@ </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="../ChatComment">
                                        <div> <i class="fa fa-comment fa-fw"></i> Bạn có <span id="commentCount">@ViewBag.NewCommentCount</span> bình luận mới @*<span class="pull-right text-muted small">12 minutes ago</span>*@ </div>
                                    </a>
                                </li>
                                <!--See all alert-->
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a href="../ChatComment"> <strong>Xem tất cả</strong> <i class="fa fa-angle-right"></i> </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!--./Notification icon-->
                        <!--Log out-->
                        <li>

                            <a href="javascript:document.getElementById('logoutForm').submit()"> <i class="fa fa-sign-out"></i> Đăng xuất </a>

                        </li>
                        <!--./Log out-->
                    </ul>
                </nav>
            </div>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
            <!--./Top navbar-->
            <!--Content header-->
            @*<div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-4">
                        <h2>@ViewBag.Title</h2>
                        <ol class="breadcrumb">
                            <li> <a href="index.html">Trang chủ</a> </li>
                            <li class="active"> <strong>@ViewBag.Title</strong> </li>
                        </ol>
                    </div>
                    <div class="col-sm-8">
                        <div class="title-action"> <a href="" class="btn btn-primary">Nút gì đó</a> </div>
                    </div>
                </div>*@
            <!--./Content header-->
            <!--Page's content-->
            <div class="wrapper wrapper-content">
                @RenderBody()
            </div>
            <!--./Page's content-->
            <!--Footer-->
            <div class="footer">
                <div> <strong>Copyright</strong> EFP &copy; 2016 </div>
            </div>
            <!--./footer-->
        </div>
        <!--./Page wapper-->
    </div>


    @Scripts.Render("~/Mainly-scripts")
    @Scripts.Render("~/Custom-and-plugin-javascript")    
    @RenderSection("CustomJS", required: false)
    @Scripts.Render("~/SignalR-JS")
    @Scripts.Render("/signalr/hubs")
    <script type="text/javascript">
        $(function () {
            // Declare a proxy to reference the hub.
            var chat = $.connection.alertHub;
            // Create a function that the hub can call to broadcast messages.
            chat.client.sendMessageToPage = function (data, threadId, intent) {

            };

            chat.client.sendCommentToPage = function (comment, intent) {

            };

            //update noti
            chat.client.sendNotification = function(conversation,post,comment){
            };

            // Get the user name and store it to prepend to messages.
            //$('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            //$('#message').focus();
            // Start the connection.
            $.connection.hub.qs = { 'Name': @HttpContext.Current.Session["ShopId"] };
            $.connection.hub.start().done(function () {

            });
        });
        
    </script>
</body>
</html>
