
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomCSS {
    
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2>
                        @HttpContext.Current.Session["ShopName"]  
                    </h2>
                </div>
                <div class="ibox-content">   
                    <div class="row"                 >
                        <div class="col-xs-6 b-r">
                            <ul class="list-unstyled m-t-md">
                                @if (!string.IsNullOrEmpty(ViewBag.Email))
                                {
                                    <li>
                                        <span class="fa fa-envelope m-r-xs"></span>
                                        <label>Email:</label>
                                        @ViewBag.Email
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.Address))
                                {
                                    <li>
                                        <span class="fa fa-home m-r-xs"></span>
                                        <label>Địa chỉ:</label>
                                        @ViewBag.Address
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.Phone))
                                {
                                    <li>
                                        <span class="fa fa-phone m-r-xs"></span>
                                        <label>Liên hệ:</label>
                                        @ViewBag.Phone
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.Website))
                                {
                                    <li>
                                        <span class="fa fa-rss m-r-xs"></span>
                                        <label>Trang web:</label>
                                        <a href="@ViewBag.Website">@ViewBag.Website</a>
                                    </li>
                                }
                                @if (!string.IsNullOrEmpty(ViewBag.About) || !string.IsNullOrEmpty(ViewBag.Description))
                                {
                                    <li>
                                        <span class="fa fa-info-circle m-r-xs"></span>
                                        <label>Mô tả:</label>
                                        @if (string.IsNullOrEmpty(ViewBag.About))
                                        {
                                            @ViewBag.About<br />
                                        }
                                         @ViewBag.Description
                                    </li>
                                }
                                
                            </ul>
                        </div>
                        <div class="col-xs-6">                            
                            <a target="_blank" href="@string.Format("https://www.facebook.com/{0}", HttpContext.Current.Session["ShopId"])" class="btn btn-white btn-lg btn-block"><span>Xem trang</span>&nbsp;&nbsp;<i class="fa fa-sign-in"></i></a>                            
                            <a target="_blank" href="@string.Format("https://www.facebook.com/{0}/about/?tab=page_info",HttpContext.Current.Session["ShopId"])" class="btn btn-white btn-lg btn-block"><span>Sửa thông tin</span>&nbsp;&nbsp;<i class="fa fa-edit"></i></a>                            
                        </div>

                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!--New notification-->    
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">mới</span>
                    <h5>Inbox</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.NewConversationCount</h1> <small>Đoạn hội thoại</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">mới</span>
                    <h5>Comment</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.NewCommentCount</h1> <small>Lượt bình luận</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">mới</span>
                    <h5>Like</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Like</h1> <small>Lượt thích</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">mới</span>
                    <h5>Bài đăng</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.NewPostCount</h1> <small>Bài đăng</small>
                </div>
            </div>
        </div>
    </div>
    <!--./New notification-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Orders</h5>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-white active">Hôm nay</button>
                            <button type="button" class="btn btn-xs btn-white">Tuần này</button>
                            <button type="button" class="btn btn-xs btn-white">Tháng này</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins">2,346</h2> <small>Total orders in period</small>
                                    <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">4,422</h2> <small>Orders in last month</small>
                                    <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">9,180</h2> <small>Monthly income from orders</small>
                                    <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./Page's content-->


    @section CustomJS {

    }
